

<div class="inputs row-fluid <%=@book.type.underscore %>" id="entry_lines" >

  <%=  simple_form_for([@book, @line], :html=> {class: 'form-inline'}) do |f| %>

    <%= f.error_notification %>
    <div class="row-fluid">
      <div class="span12">

        <%= f.input :line_date_picker, :label=> 'Date', wrapper_html:{class:'span3'}, label_html: {class: 'span4'}, input_html: {class: 'span8', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>
        <%= f.input :narration,  :label=>'Libellé ', :wrapper_html=>{:class=>'span6'}, label_html:{class:'span2'}, input_html: {class:"span9" } %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <%= f.input :ref, label:'Référence', :wrapper_html=>{:class=>'span3'}, input_html: {class: "span8" } , :label_html=>{class:'span4'} %>
          <%=  f.association :nature , :wrapper_html=>{:class=>'span3'}, input_html: {class: "span8" } , :label_html=>{class:'span4'},
              :collection => @natures, :prompt => "Quoi ?", :required=>true,  %>
          <%=  f.association :destination, :collection =>@organism.destinations.all(:order => 'name'), :label=>'Destinat°',
              :prompt => "Pour qui ?" ,  :wrapper_html=>{class: "span3"}, input_html: {class: "span8" } , :label_html=>{class:'span4'} %>
        </div>
      </div>

      <div class="row-fluid">
         <div class="span12">
            <%=  f.input(:debit , :wrapper_html=> {class: "span3"}, :label_html=>{class:'span4'},
                  input_html:{class: "numeric decimal span8", value:two_decimals(@line.debit) }, :as=>:french_decimal) if (@book.type=='OutcomeBook')  %>
            <%=  f.input(:credit, :wrapper_html=> {class: "span3"},  :label_html=>{class:'span4'} ,
                  input_html: {class: "numeric decimal span8", value: two_decimals(@line.credit) }, :as=>:french_decimal) if (@book.type=='IncomeBook') %>
            <%= f.input :payment_mode , collection: PAYMENT_MODES, :prompt=>'Mode de réglement',
                          disabled: "#{'Espèces' unless @organism.cashes.any?}",
                          :wrapper_html=> {class: "span3"},
                          :required=>true,  input_html: {class: "span8"}, :label_html=>{class:'span4'} %>
            <%= f.association :counter_account, :label=> 'Contrepartie',  :wrapper_html=>{class: "span3", id:'td_cca'}, input_html: {class: "span8"}, :label_html=>{class:'span4'},
                :collection => options_for_cca(@period), :as => :grouped_select, :group_method => :options, :group_label_method=> :title,
                :label_method=> :long_name, :value_method=> :id  %>
               <%= f.input :check_number, label:'N° ch.', :wrapper_html=>{:class=>'span3', id:'td_check_number'},:label_html=>{class:'span4'}, input_html: {class: "span8" }  %>
           </div>
       </div>

       <div class="row-fluid">
         <div class="span12">
          <div class="form-actions offset1">
             <%=  f.button :submit, id: 'new_line_button', class: "btn-primary span2" %>
          </div>
         </div>
       </div>
  
  <% end %>
</div>




              

