<%  SimpleForm.wrapper_tag = :span %>

<%=  simple_form_for [@book, @line]  do |f| %>

  <%= f.error_notification %>


  <div class="inputs" id="entry_lines" >

    <p>   <label>Date : </label>
      <%= picker_date :pick_date_line, @period.start_date, @period.close_date , @line.line_date %>

      <%=  f.input :narration,  input_html: {size: 20 } %>

      <%=  f.association :nature ,  :collection => @natures, :prompt => "Quoi ?" %>
      <%=  f.association :destination, :collection => @organism.destinations.all(:order => 'name'), :prompt => "Pour qui ?" %>
    </p>
    <p>
      <%=  f.input :debit , input_html: {size: 12, value: two_decimals(@line.debit) } unless (@book.type=='IncomeBook') %>
      <%=  f.input :credit, input_html: {size: 12, value: two_decimals(@line.credit) } unless (@book.type=='OutcomeBook') %>

      <%= f.input :payment_mode , collection: Line::PAYMENT_MODES, :prompt=>'Mode de réglement', disabled: "#{'Espèces' unless @organism.cashes.any?}" %>
      <span id="td_bank" > <%= f.association :bank_account, :collection => @organism.bank_accounts.all, label_method: :number, :include_blank=> false %>  </span>
      <span id="td_cash" > <%= f.association :cash, :collection => @organism.cashes.all, :include_blank=> false %></span>
    </p>
  </div>
  <div id="actions">
    <%=  f.button :submit, id: 'new_line_button' %>
  </div>
<% end %>

<div id="mise_au_point"></div>


