<%= simple_form_for [@listing,@line] do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

     
 <%= f.input(:line_date)  %>
    

    <%= f.input :narration %>
    <%= f.association :nature %>
    <%= f.association :destination %>
    <%= f.input :debit %>
    <%= f.input :credit %>

    
    
    <%= f.input :locked,:label=>'Verrouillé', as: :radio %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
