<%  SimpleForm.wrapper_tag = :span %>

<%=  simple_form_for [@book, @line]  do |f| %>

  <%= f.error_notification %>


  <div class="inputs" id="entry_lines" >

    <p>   <label>Date : </label>
          <%= picker_date :pick_date_line, Date.today.years_ago(5), Date.today.years_since(5) , @line.line_date %>
             
          <%=  f.input :narration,  input_html: {size: 20 } %>
    </p>
    <p>
          <%=  f.association :nature ,  :collection => @organism.natures.all(:order => 'name'), :prompt => "Quoi ?" %>
          <%=  f.association :destination, :collection => @organism.destinations.all(:order => 'name'), :prompt => "Pour qui ?" %>
    </p>      <%=  f.input :debit , input_html: {size: 12, value: two_decimals(@line.debit) } %>
          <%=  f.input :credit, input_html: {size: 12, value: two_decimals(@line.credit) } %>
    <p>
           <%=  f.input :payment_mode , collection: Line::PAYMENT_MODES %>
          <%= f.input :bank_account_id, collection: @organism.bank_accounts.all(:order=>'bank'),
          input_html: {id: 'td_bank'}%>
          <%= f.input :cash_id, collection: @organism.cashes.all(order: :name),
          input_html: {id: 'td_cash'} %>
      </p>
  </div>
<div id="actions">
<%=  f.button :submit, id: 'new_line_button' %>
  </div>
   
 
<% end %>
