<%= content_for :menu do %>

<%= icon_to 'retour.png', book_lines_path(@book) %>
<% end -%>

<%= content_for :submenu do %>
<%= link_to 'Ecritures répétées', new_book_multiple_line_path(@book) %>
<% end %>

<div class="champ">
  <h3>
    <%=  @book.title.capitalize %> : modification de ligne
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>