<%= content_for :menu do %>
  <% @organism.listings.reject!{|l| l==@listing}.each do  |m| %>
    <%=  link_to m.title, listing_lines_path(m) %>
  <% end %>
  <%= icon_to 'navigation90.png', organism_listings_path(@organism), title: 'Liste des livres' %>
<% end -%>

<%= content_for :submenu do %>
  <%  @submenu_list.each_with_index do |mois,i| %>
    <%=   link_to(mois, listing_lines_path(@listing, mois: i)) %>

  <%  end %>
<%= link_to 'nouveau', new_listing_line_path(@listing), id: 'new_line_link' %>
<% end %>

<fieldset><legend><%=  @listing.title%> - Mois de <%=l(Date.today.beginning_of_year.months_since(@mois.to_i), :format=>:month_year) %></legend>
  <table>
    <thead>
      <tr>
        <%= render 'table_header' %>

        <th><%= icon_to 'nouveau.png', new_listing_line_path(@listing, mois: @mois), rel: 'facebox' %></th>
        <th></th>
        <th></th>

      </tr>
    </thead>
   <tbody id="table_lines">
      <%= render 'table_lines'  %>

   </tbody>
   <tfoot id="table_foot">
     <%= render 'table_foot' %>
   </tfoot>
      </table>

    </fieldset>

