<%= content_for :bandeau do %>
<%= icon_to 'nouveau.png', new_listing_line_path(@listing) %>
<% end -%>

<fieldset><legend> Listing <%= link_to  @listing.title, organism_listing_path(@organism, @listing) %></legend>
<table>
  <tr>
    <th>Date</th>
    <th>Libellé</th>
    <th>Nature</th>
    <th>Destination</th>
    <th>Debit</th>
    <th>Credit</th>
    
    <th>Locked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%=l line.line_date %></td>
    <td><%= line.narration %></td>
    <td><%= line.nature.name %></td>
    <td><%= line.destination.name %></td>
    <td class="debit"><%= line.debit %></td>
    <td class="credit"><%= line.credit %></td>
    <td><%= line.locked %></td>
    
    <td><%= icon_to 'modifier.png', edit_listing_line_path(@listing,line) %></td>
    <td><%= icon_to 'supprimer.png', [@listing,line], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


