<%= content_for :menu do %>
  <% @organism.books.reject!{|l| l==@book}.each do  |m| %>
    <%=  link_to m.title, book_lines_path(m) %>
  <% end %>
  <%= icon_to 'navigation90.png', organism_books_path(@organism), title: 'Liste des livres' %>
<% end -%>

<%= content_for :submenu do %>
<span><%=  link_to_if @period.previous_period?, '<<', previous_period_organism_period_path(@organism,@period) %></span>
 <%= submenu_helper(@book, @period) %>
<span><%= link_to_if @period.next_period? ,'>>', next_period_organism_period_path(@organism,@period) %></span>

  <%= icon_to 'nouveau.png', new_book_line_path(@book, mois: @mois) ,id: 'new_line_link' %>
<% end %>

<fieldset><legend><%=  @book.title%> - Mois de <%=l(@date, :format=>:month_year) %></legend>
  <table class="data_table display">
    <thead>
      <tr>
        <%= render 'table_header' %>
     </tr>
    </thead>
   <tbody id="table_lines">
      <%= render 'table_lines'  %>
   </tbody>
  <tfoot id="table_foot">

     <%= render 'table_foot' %>
   </tfoot>

      </table>

    </fieldset>
<%= @period.exercice %>
 