<%= content_for :menu do %>
  
<% end -%>

<%= content_for :submenu do %>

<% end %>

<fieldset><legend><%=  @book.title%> - Mois de <%=l(@date, :format=>:month_year) %></legend>

  <div id="submenu">
    <span><%=  link_to_if @period.previous_period?, '<<', previous_organism_period_path(@organism,@period) %></span>
 <%= submenu_helper(@book, @period) %>
<span><%= link_to_if @period.next_period? ,'>>', next_organism_period_path(@organism,@period) %></span>

  <%= icon_to 'nouveau.png', new_book_line_path(@book, mois: @mois) ,id: 'new_line_link' %></div>
  <table class="data_table display">
    <thead>
      <tr>
        <%= render 'table_header' %>
     </tr>
    </thead>
   <tbody id="table_lines">
      <%= render 'table_lines'  %>
   </tbody>
  <tfoot id="table_foot">

     <%= render 'table_foot' %>
   </tfoot>

      </table>

    </fieldset>

 