<%= content_for :menu do %>
  <% @organism.books.reject!{|l| l==@book}.each do  |m| %>
    <%=  link_to m.title, book_lines_path(m) %>
  <% end %>
  <%= icon_to 'navigation90.png', organism_books_path(@organism), title: 'Liste des livres' %>
<% end -%>

<%= content_for :submenu do %>
  <%  @submenu_list.each_with_index do |mois,i| %>
    <%=   link_to(mois, book_lines_path(@book, mois: i)) %>

  <%  end %>
  <%= icon_to 'nouveau.png', new_book_line_path(@book, mois: @mois), rel: 'facebox' ,id: 'new_line_link' %>
<% end %>

<fieldset><legend><%=  @book.title%> - Mois de <%=l(Date.today.beginning_of_year.months_since(@mois.to_i), :format=>:month_year) %></legend>
  <table class="data_table display">
    <thead>
      <tr>
        <%= render 'table_header' %>
     </tr>
    </thead>
   <tbody id="table_lines">
      <%= render 'table_lines'  %>
   </tbody>
<!--   <tfoot id="table_foot">
     <%= render 'table_foot' %>
   </tfoot>
-->
      </table>

    </fieldset>

