<%= content_for :menu do %>
<% @organism.listings.reject!{|l| l==@listing}.each do  |m| %>
    <%=  link_to m.title, listing_lines_path(m) %>
<% end %>
<%= icon_to 'nouveau.png', new_listing_line_path(@listing) %>
<%= icon_to 'navigation90.png', organism_listings_path(@organism) %>
<% end -%>

<fieldset><legend><%=  @listing.title %></legend>
<table>
  <tr>
    <th>Date</th>
    <th>Libellé</th>
    <th>Nature</th>
    <th>Destination</th>
    <th>Debit</th>
    <th>Credit</th>
    
    <th>Locked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%=l line.line_date %></td>
    <td><%= line.narration %></td>
    <td><%= line.nature.name %></td>
    <td><%= line.destination.name %></td>
    <td class="nombre"><%= debit_credit(line.debit) %></td>
    <td class="nombre"><%= debit_credit(line.credit) %></td>
    <td><%= line.locked %></td>
    
    <td><%= icon_to 'modifier.png', edit_listing_line_path(@listing,line) %></td>
    <td><%= icon_to 'supprimer.png', [@listing,line], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
  <tr class="totaux">
    <td></td> <td></td> <td></td>
    <td>Totaux</td>
    <td class="nombre"><%=  debit_credit(@total_debit) %></td>
    <td class="nombre"><%=  debit_credit(@total_credit) %></td>
  </tr>
</table>

</fieldset>


