<%= content_for :menu do %>

<%= icon_to 'retour.png', book_lines_path(@book) %>
<% end -%>

<% if @previous_line %>
<div class="alert notice">
  <a class="close" data-dismiss="alert">x</a>
  <strong>
    <table>
      <tbody><tr><td>
            <%= "Ligne n°#{@previous_line.id} créée : "  %>
            </td>
            <%= render 'line', line: @previous_line %></tr></tbody>
      </table>
  </strong>
</div>
<% end %>


<div class="champ">
  <h3>
    <%=  @book.title.capitalize %> : nouvelle ligne
  </h3>
  <div class="inner-champ">
 
<%= render 'form' %>
  </div>
</div>