
<%= content_for :bandeau do %>

<%= icon_to 'nouveau.png', new_listing_line_path(@listing) %>
<%= icon_to 'modifier.png', edit_listing_line_path(@listing,@line) %>
<%= icon_to 'retour.png', listing_lines_path(@listing) %>
<% end -%>
<fieldset><legend>Description de line </legend>

<p>
  <b>Date:</b>
  <%= @line.line_date %>
</p>

<p>
  <b>Narration:</b>
  <%= @line.narration %>
</p>

<p>
  <b>Nature:</b>
  <%= @line.nature_id %>
</p>

<p>
  <b>Destination:</b>
  <%= @line.destination_id %>
</p>

<p>
  <b>Debit:</b>
  <%= @line.debit %>
</p>

<p>
  <b>Credit:</b>
  <%= @line.credit %>
</p>

<p>
  <b>Listing:</b>
  <%= @line.listing_id %>
</p>

<p>
  <b>Locked:</b>
  <%= @line.locked %>
</p>

</fieldset>

