<%= content_for :submenu do %>
<%= icon_to 'nouveau.png', new_organism_cash_path(@organism) %>
<% end -%>

<fieldset><legend>Liste des caisses</legend>
<table>
  <tr>

   

    <th>Nom</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cashes.each do |cash| %>
  <tr>

  

    <td><%= cash.name %></td>

    <td><%= icon_to 'afficher.png', cash_account_lines_path(cash) %></td>
    <td><%= icon_to 'modifier.png', edit_organism_cash_path(@organism,cash) %></td>
    <td><%= icon_to 'supprimer.png', [@organism,cash], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


