
<%= content_for :submenu do %>

<%= icon_to 'nouveau.png', new_cash_path %>
<%= icon_to 'modifier.png', edit_cash_path(@cash) %>
<%= icon_to 'retour.png', :back %>
<% end -%>
<fieldset><legend>Description de cash </legend>


<p>
  <b>Organism:</b>
  <%= @cash.organism_id %>
</p>


<p>
  <b>Name:</b>
  <%= @cash.name %>
</p>


</fieldset>

