= content_for :menu do
  = icon_to 'retour.png', :back

.champ
  %h3
    Modification des paramètres de connection au module Adhérent pour l'enregistrement des paiements
.inner-champ
  .inputs
    = simple_form_for([:admin, @organism, @bridge], :html=> {class: 'form-horizontal'}) do |f|
      = f.error_notification
      = f.association :income_book, :collection=>@organism.income_books, :prompt=>false
      = f.association :destination, :collection=>@organism.destinations, :prompt=>false
      = f.input :nature_name, :collection=>@period.natures.recettes.map(&:name), :prompt=>false
      = f.association :bank_account, :collection=>@organism.bank_accounts, :label_method=>:nickname, :prompt=>false
      = f.association :cash, :collection=>@organism.cashes, :prompt=>false

      .form-actions
        = f.button :submit, class: "btn-primary span2"
 
