

<tr>
  <td class="span2"><%= book.title %></td>
  <td class="span3"><%= book.description  %></td>
  <td class="span2"><%= book.book_type %> </td>
  <td class="span2"><%= l book.created_at %></td>
  <td class="span2"><%= l book.updated_at %></td>

  <td class="span1">
    <%= icon_to 'modifier.png', edit_admin_organism_book_path(@organism, book) %>
    <%= icon_to 'supprimer.png', admin_organism_book_path(@organism, book), confirm: 'Etes vous sur ?', method: :delete if book.lines.empty? %>
   
  </td>
</tr>
