

<tr>
  <td><%= book.title %></td>
  <td><%= book.description  %></td>
  <td><%= book.book_type %> </td>
  <td><%= l book.created_at %></td>
  <td><%= l book.updated_at %></td>

  <td>
    <%= icon_to 'modifier.png', edit_admin_organism_book_path(@organism, book), :id=>"icon_modifier_book_#{book.id}" %>
    <%= icon_to 'supprimer.png', admin_organism_book_path(@organism, book), confirm: 'Etes vous sur ?', method: :delete if book.compta_lines.empty? %>
   
  </td>
</tr>
