 <div class="inputs">
<%= simple_form_for([:admin,@organism,@book],  :html=> {class: 'form-horizontal'} ) do |f| %>
 
  <%= f.error_notification %>
   <%= f.input :title %>
   <%= f.input :description, input_html: {rows: 4} %>
    <%= f.input :book_type, :label=>'Type',
           :collection=>[['Recettes','IncomeBook'], ['Dépenses', 'OutcomeBook']],
         label_method: :first, value_method: :last, :as=>:inline_radio_buttons, :required=>true, :disabled=>@book.persisted? %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>
<% end %>
  </div>