%li.nav-header.no-link= link_to menu_bank.to_s, '#'
%li= link_to 'Liste remises', organism_bank_account_check_deposits_path(@organism,menu_bank) if menu_bank.check_deposits.any?
%li= link_to 'Nlle Remise', new_organism_bank_account_check_deposit_path(@organism,menu_bank)
%li= link_to 'Pointage', pointage_bank_extract_bank_extract_lines_path(menu_bank.first_bank_extract_to_point) if menu_bank.unpointed_bank_extract?
%li= link_to 'Extraits de comptes', bank_account_bank_extracts_path(menu_bank) if menu_bank.bank_extracts.any?
%li= link_to 'Nouvel Extrait', new_bank_account_bank_extract_path(menu_bank)
