
  <ul class="nav nav-tabs" id="menu_general">
   
    <li class="dropdown <%= 'active' if controller.controller_name =='organisms'  %> ">

      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        ORGANISMES
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% cache("saisie_#{current_user.name}")  do %>
          <%= saisie_consult_organism_list if current_user? %>
        <% end %>
      </ul>
    </li>


    <!--TODO normalement dans ce menu (de la zone Public), il ne peut pas y avoir de new_record? -->
<% if (@organism  && !@organism.new_record?) %>

<li class="dropdown <%= 'active' if controller.controller_name =='in_out_writings'  %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">LIVRES<b class="caret"></b></a>
  <%= content_tag(:ul, :class => "dropdown-menu") do %>
    <%= render :partial=>'menus/menu_book', :collection=>@organism.in_out_books, :spacer_template=>'menus/divider' %>
  <% end %>
</li>


<% if @organism.bank_accounts.any?  %>
<li class="dropdown <%= 'active' if controller.controller_name =='bank_accounts'  %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">BANQUES<b class="caret"></b></a>
  <%= content_tag(:ul, :class => "dropdown-menu") do %>
    <%= render :partial=>'menus/menu_bank', :collection=>@organism.bank_accounts, :spacer_template=>'menus/divider' %>
  <% end %>
</li>
<% end %>

<% if @organism.cashes.any? %>
<li class="dropdown <%= 'active' if controller.controller_name =='cash_lines'  %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAISSES<b class="caret"></b></a>
  <%= content_tag(:ul, :class => "dropdown-menu") do %>
    <%= render :partial=>'menus/menu_cash', :collection=>@organism.cashes, :spacer_template=>'menus/divider' %>
  <% end %>
</li>
<% end %>

<li id="menu_transfer" class="dropdown <%= 'active' if controller.controller_name =='transfers'  %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRANSFERTS<b class="caret"></b></a>
  <%= short_menu('transfer')  %>
</li>

<li class="dropdown <%= 'active' if controller.controller_name =='natures'  %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">ANALYSES<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="nav-header">
      <%= link_to 'Par Nature', stats_organism_period_natures_path(@organism,@period), title: 'Analyser les recettes et dépenses par nature'  %>
    </li>
  </ul>
</li>

<li class="dropdown <%= 'active' if controller.controller_name =='periods'  %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        EXERCICES
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
          <%  @organism.periods.each do |p| %>
             <li><%= link_to_unless(current_period?(p), p.exercice, change_organism_period_path(@organism, p)) {|name| content_tag(:span, :class=>'disable') {name} } %></li>
          <% end %>
        </ul>
      </li>
<% end %>

<!-- pas très bien nommé, la suite affiche les icones -->
<li class="horizontal_icons">
  <%= yield :menu %>
</li>
</ul>

