.panel-body
  = simple_form_for([:admin,@organism,@destination],
    :html=> {class: 'form-horizontal'}, wrapper: :horizontal_form ) do |f| 
    = f.error_notification 
    .form-inputs
      = f.input :name,  my_wrapper_html:{class:'col-sm-3'}
      = f.input :comment,  my_wrapper_html:{class:'col-sm-3'}, input_html: {rows: 4}
      - if @organism.sectored?
        = f.association :sector,  my_wrapper_html:{class: "col-lg-3"}, prompt:'Choisissez un secteur',
          required:true
      -else
        = f.association :sector,  my_wrapper_html:{class: "col-lg-3"}, prompt:'Choisissez un secteur',
          required:true, as: :hidden
      =f.input :used, :as => :boolean  
    .form-actions= f.button :submit, class: "btn-primary col-lg-2 col-lg-offset-2" 
