.inputs
  = simple_form_for([:admin,@organism,@destination], :html=> {class: 'form-horizontal'} ) do |f| 
    = f.error_notification 
    = f.input :name,  input_html: {class: "span3"}
    = f.input :comment,  input_html: {rows: 4, class: "span3"}
    - if @organism.sectored?
      = f.association :sector,  input_html: {class: "span3"}, prompt:'Choisissez un secteur',
        required:true
    -else
      = f.association :sector,  input_html: {class: "span3"}, prompt:'Choisissez un secteur',
        required:true, as: :hidden
    =f.input :used, :as => :boolean 
    .form-actions= f.button :submit, class: "btn-primary span2" 