<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_destination_path(@organism) %>
<%= icon_to 'afficher.png', admin_organism_destination_path(@organism,@destination) %>
<%= icon_to 'retour.png', admin_organism_destinations_path(@organism) %>
<% end -%>

<div class="champ">
  <h3>
    Modification destination
  </h3>
  <div class="inner-champ">
     <%= render 'form' %>
  </div>
</div>



