 <div class="inputs">
<%= simple_form_for([:admin,@organism], :wrapper=>:prepend, :html=> {class: 'form-inline'}) do |f| %>
  <%= f.error_notification %>
   
 
    <%= f.input :title, label_html: {class: "span2"}, input_html: {class: "span3"} %>
    <%= f.input :description, label_html: {class: "span2"}, input_html: {class: "span3", rows: 4} %>
   
   <div class="form-actions offset2">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>
<% end %>
  </div>