<%  SimpleForm.wrapper_tag = :div %>
<%= simple_form_for([:admin,@organism]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :description, input_html: {rows: 4} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
