<%= f.error_notification %>


    <%= f.input :title,  input_html: {class: "span3"} %>
    <%= f.input :description,  input_html: {class: "span3", rows: 4} %>
    <%= f.input :database_name,
           label:'Nom de la base',
           input_html: {class: "span3"},
           hint:'lettres minuscules uniquement, sans espace',
           disabled:@organism.persisted? %>
 <%= f.input :status, :label=>'Statut',
         :collection=>%w(Association Entreprise), :as=>:inline_radio_buttons %>

   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>