


<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_path %>
<%= icon_to 'afficher.png', [:admin,@organism] %>
<%= icon_to 'retour.png', admin_organisms_path %>
<% end -%>

<div class="champ">
  <h3>
    Modification organisme
  </h3><div class="inner-champ">

<div class="inputs">
<%= simple_form_for([:admin,@organism],  :html=> {class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>


    <%= f.input :title,  input_html: {class: "span3"} %>
    <%= f.input :description,  input_html: {class: "span3", rows: 4} %>
    <%= f.input :database_name,
           label:'Nom de la base',
           input_html: {class: "span3"},
           hint:'lettres minuscules uniquement, sans espace',
           disabled:true %>
     <%= f.input :status, :label=>'Statut',
         :collection=>LIST_STATUS, :as=>:inline_radio_buttons, disabled:true %>

   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>
<% end %>
  </div>
</div></div>



