<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%=  content_for :menu do %>
<%= icon_to  'nouveau.png', new_admin_organism_path %>
       <%= icon_to 'restauration.png', new_admin_restore_path ,
         :confirm=>"Restaurer un organisme ou en créer un nouveau à partir d'un fichier de sauvegarde ?",
                :title=>"Permet de créer un organisme à partir d'un fichier de sauvegarde" %>
<% end %>


<div class="champ">
  <h3>Liste des organismes</h3>
  </div>

<table  cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="admin_organism_table">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Base de données</th>
    <th>Dernière sauvegarde</th>
    <th>Actions</th>
  
  </tr>
  </thead>
  <tbody>
<% @room_organisms.each do |ro| %>
    <tr class="<%= (ro[:organism].database_name ==  @organism.database_name) ? 'current' : 'other' if @organism %>">
    <td><%= ro[:organism].title %></td>
    <td><%= ro[:organism].description %></td>
    <td><%= ro[:room].complete_db_name %></td>
    <td><%=l ro[:archive].created_at  if ro[:archive] %></td>
    <td><%= icon_to 'sauvegarde.png', new_archive_admin_room_path(ro[:room]),
              :title=>"Fait une sauvegarde de toutes les données de l'organisme" %>
      <%= icon_to 'afficher.png',ro[:room], title: 'affichage dans la partie saisie' %>
      <%= icon_to 'detail.png', [:admin, ro[:room]] %>
      <%= icon_to 'modifier.png', edit_admin_room_path(ro[:room]) %>
      
    </td>
  
  </tr>
<% end %>
  </tbody>
</table>

