<%= content_for :menu do %>

<%= icon_to 'retour.png', admin_organisms_path %>

<% end -%>


<div class="champ">
  <h3>
    Nouvel organisme
  </h3>

  <div class="inner-champ">

    <div class="panel-body">
    <%= simple_form_for([:admin,@organism], :url =>admin_organisms_path, :method => :post,
      :html=> {class: 'form-horizontal', id:'new_admin_organism'},
        wrapper: :horizontal_form) do |f| %>

      <%= f.error_notification %>
      <div class='form-inputs'>
        <%= f.input :title,  my_wrapper_html: {class: "col-lg-3"} %>
        <%= f.input :comment,  my_wrapper_html: {class: "col-lg-6"} %>
        <%= f.input :siren, my_wrapper_html: {class: "col-lg-3"}, hint:'Utile pour nommer le fichier des écritures comptables' %>
        <%= f.input :postcode, my_wrapper_html: {class: "col-lg-2"} %>
        <%= f.input :status, :label=>'Statut', input_html:{class:'col_lg-offset-2'},
             :collection=>LIST_STATUS_FOR_FORM, :as=>:inline_radio_buttons %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn-primary col-lg-2 col-lg-offset-2", id:'new_admin_organism' %>
      </div>
    <% end %>

    </div>
  </div>
</div>
