<%= content_for :menu do %>

<%= icon_to 'retour.png', admin_organisms_path %>
<%= icon_to 'restauration.png', new_admin_restore_path ,
         :confirm=>"Restaurer un organisme ou en créer un nouveau à partir d'un fichier de sauvegarde ?",
                :title=>"Permet de créer un organisme à partir d'un fichier de sauvegarde" %>
<% end -%>


<div class="champ">
  <h3>
    Nouvel organisme
  </h3><div class="inner-champ">

<div class="inputs">
<%= simple_form_for([:admin,@organism], :html=> {class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>


    <%= f.input :title,  input_html: {class: "span3"} %>
    <%= f.input :description,  input_html: {class: "span3", rows: 4} %>
    <%= f.input :database_name,
           label:'Nom de la base',
           input_html: {class: "span3"},
           hint:'lettres minuscules uniquement, sans espace' %>

 <%= f.input :status, :label=>'Statut',
         :collection=>LIST_STATUS, :as=>:inline_radio_buttons %>

   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>
<% end %>
  </div>
</div></div>