<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= content_for :menu do %>
  <%= icon_to 'modifier.png', edit_admin_organism_path(@organism) %>
  <%= icon_to 'pointer.png', admin_organism_archives_path(@organism), title: 'liste des archives pour cet organisme' %>
  <%= icon_to 'sauvegarde.png', new_admin_clone_path, :title=>"Fait un clone de l'organisme" %>
  <%= icon_to 'supprimer.png', [:admin, @organism.room], :confirm=>"Cette action est irréversible \nEtes vous sûr ?", :method=>:delete %>
  <%= icon_to 'retour.png', :back %>
<% end -%>


<div class="champ">
  <h3>
    Description de l'organisme
  </h3>
</div>
  <div class="row-fluid inner-champ">

   
<p>
  <b>Titre :</b>
  <%= @organism.title %>
</p>

<p>
  <b>Description :</b>
  <%= @organism.description %>
</p>

<p>
  <b>Statut :</b>
  <%= @organism.status %>
</p>

<p>
  <b>Base de données :</b>
  <%= @organism.database_name %>
</p>

<p>
  <b>Version :</b>
  <%= @organism.version %>
</p>


<p>
  <b>Crée le :</b>
  <%=l @organism.created_at %>
</p>

<p>
  <b>Nombre d'écritures :</b>
  <%= @organism.writings.count %>
</p>

<p>
  <b>Dernière saisie le :</b>
  <%=l @organism.writings.order(:updated_at).last.updated_at if @organism.writings.any? %>
</p>

<% if @organism.archives.any? %>
<p>
 <b>Dernière sauvegarde le :</b>
 <%= l @organism.archives.order(:created_at).last.created_at %>
 <b>&nbsp;Commentaire :&nbsp;</b><%= @organism.archives.order(:created_at).last.comment %>
</p>
<% end %>

  </div>
