<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= content_for :menu do %>
  <%= icon_to 'modifier.png', edit_admin_organism_path(@organism) %>
  <%= icon_to 'sauvegarde.png', new_admin_organism_archive_path(@organism),
              :title=>"Fait une sauvegarde de toutes les données de l'organisme" %>
  <%= icon_to 'supprimer.png', [:admin, @organism], :confirm=>"Cette action est irréversible \nEtes vous sûr ?", :method=>:delete %>
  <%= icon_to 'retour.png', :back %>
<% end -%>


<div class="champ">
  <h3>
    Description de l'organisme
  </h3>
</div>
  <div class="row-fluid inner-champ">

   
<p>
  <b>Titre :</b>
  <%= @organism.title %>
</p>

<p>
  <b>Description :</b>
  <%= @organism.description %>
</p>

<p>
  <b>Crée le :</b>
  <%=l @organism.created_at %>
</p>

<p>
  <b>Mis à jour le :</b>
  <%=l @organism.updated_at %>
</p>

<% if @organism.archives.any? %>
<p>
 <b>Dernière sauvegarde le :</b>
 <%= l @organism.archives.order(:created_at).last.created_at %>
</p>
<% end %>
 
   </div>
