<%  content_for :menu do %>
   <%= icon_to 'retour.png', :back %>
<%  end %>


 <div class="inputs">

<%= simple_form_for [:admin,@organism, @period] ,   :html=> {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>


    <%= f.input(:start_date, input_html: {class: "span2"}, :discard_day => true,
      :hint=>'Premier jour du mois de ...' , :disabled=>@disable_start_date) %>
      
 
    <%= f.input :close_date , input_html: {class: "span2"},:discard_day => true, :start_year => @begin_year,:end_year=>@end_year,
      :hint=>'Dernier jour du mois de...' %>


 
    <div class="form-actions">
   <%= f.button :submit , :class=>"btn-primary span2" %>
    </div>


<% end %>
</div>