<%  content_for :menu do %>
   <%= icon_to 'retour.png', :back %>
<%  end %>




<%= simple_form_for [:admin,@organism, @period] do |f| %>
  <%= f.error_notification %>

<div class="row-fluid">
      <div class="span12">
    <%= f.input(:start_date,  :jclabel_wrapper_html=>{class: "span2"}, input_html: {class: "span2"}, :discard_day => true,
      :hint=>'Premier jour du mois de ...' , :disabled=>@disable_start_date) %>
      </div>
  </div>
  <div class="row-fluid">
  <div class="span12">
    <%= f.input :close_date , :jclabel_wrapper_html=>{class: "span2"},  input_html: {class: "span2"},:discard_day => true, :start_year => @begin_year,:end_year=>@end_year,
      :hint=>'Dernier jour du mois de...' %>
  </div>
  </div>


 <div class="row">
    <div class="offset2 span2 clear">
   <%= f.button :submit , :class=>"btn-primary span2" %>
  </div>
 </div>


<% end %>
