<%= content_for :menu do %>
 <%= icon_to 'nouveau.png',new_admin_organism_period_path(@organism), :alt=>'Nouvel exercice',
    :title=>'Créer un nouvel exercice' unless @organism.nb_open_periods >= 2 %>
<% end %>






 
<fieldset><legend><%= @periods.empty? ? "Aucun exercice" : "Liste des exercices" %></legend>
  <% unless @periods.empty? %>
    <table class="striped">
      <thead>
      <tr>
       
        <th>Début</th>
        <th>Fin</th>
        <th>Statut</th>
        <th>Clôture</th>
       
      </tr>
      </thead>
      <tbody>
      <% @periods.each do |period| %>
        <tr>
          
          <td><%=l period.start_date %></td>
          <td><%=l period.close_date %></td>
          <td><%= period.open? ? 'Ouvert' : 'Fermé' %> </td>
          <td><%= link_to 'Clôre', close_admin_organism_period_path(@organism, period) if period.closable? %>
          <%= link_to 'Ecritures non verrouillées', admin_organism_period_lines_path(@organism, period, :status=>'open') unless period.closable? %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>