= content_for :menu do
  = icon_to 'nouveau.png',new_admin_organism_period_path(@organism), :alt=>'Nouvel exercice',
    :title=>'Créer un nouvel exercice' unless @organism.nb_open_periods >= 2 

.champ
  %h3 Liste des exercices
      
  - unless @periods.empty?
    
    %table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
      %thead
        %tr
          %th Début
          %th Fin
          %th Statut
          %th Actions


      %tbody
        - @periods.each do |period|
          %tr

            %td=l period.start_date
            %td=l period.close_date
            %td= period.open? ? 'Ouvert' : 'Fermé'
            %td
              %span= link_to 'Clôre', close_admin_organism_period_path(@organism, period) if period.closable?
              %span= icon_to 'supprimer.png', [:admin, @organism, period], confirm: 'Etes vous sur ?', method: :delete

