<%=  content_for :menu do %>
<%= icon_to 'navigation90.png', admin_organism_period_accounts_path(@organism,@period) %>
<% end %>

 <%= form_tag create_plan_admin_organism_period_path(@organism,@period)  do %>

   <label for="fichier">Fichier : </label>
     <%= select_tag :fichier, options_for_select([['Plan comptable simplifié', 'comptable.yml']]) %>
     <%= submit_tag 'Créer les comptes à partir du fichier', :class=>'button' %>
<% end %>