%table(cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed listing_data_table")
  %thead
    %tr
      %th.pc5.date-euro Date
      %th.pc5 Jnl
      %th.pc10 Réf
      %th.pc25 Libellé
      %th.pc20 Nature
      %th.pc15 Destination
      %th.pc10 Débit
      %th.pc10 Crédit
  %tbody>
    = render  partial:'compta/lines/line', collection:@listing.lines
  %tfoot
    %tr.total#totaux
      %th(colspan="5" style="text-align:right" rowspan="1")
        Totaux:
        %br
        Totaux globaux:
      %th#tgdebit(rowspan="1" colspan="1" class="numeric nombre")
        %span#tdebit=  debit_credit(@listing.total_debit)
        %br
        =  debit_credit(@listing.total_debit)
      %th#tgcredit(rowspan="1" colspan="1" class="numeric nombre")
        %span#tcredit=  debit_credit(@listing.total_credit)
        %br
        =  debit_credit(@listing.total_credit)
