

<%= simple_form_for @listing, :url=>compta_period_listing_path(@period, @listing), :method=>:post, :remote=>true,  :html=> {class: 'form-horizontal'} do |f| %>


     <%= f.error_notification %>

    <%= f.input :from_date_picker, :label=> 'Date début', input_html: {class: 'span4', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>
    <%= f.input :to_date_picker, :label=> 'Date fin',  input_html: {class: 'span4', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>

          <%= f.input :account_id, :collection=>@listing.accounts.order('number ASC'),
              :prompt=>false,
              label:'Compte',  :label_method=>:long_name,
              input_html: {class: 'span10'} ,:required => true %>

         
          <div class="form-actions">
            <%=  f.button :submit, 'Afficher le compte', id: 'new_listing_button', class: "btn-primary span6" %>
            </div>


<% end %>