.champ
  %h3 Tirage d'un compte : sélection des critères
  .inner-champ

    .panel-body
      = simple_form_for @listing,
        :url=>compta_period_listing_path(@period) do |f|

        = f.error_notification
        
        .form-inputs
          
          = f.input :from_date_picker,
            wrapper_html:{class:'col-lg-2'},
            :label=> 'Date début',
            input_html: {date_min:@period.start_date, date_max:@period.close_date},
            :required => true, :as=>:date_picker
          = f.input :to_date_picker,
            wrapper_html:{class:'col-lg-2'},
            :label=> 'Date fin',
            input_html: {date_min:@period.start_date, date_max:@period.close_date},
            :required => true, :as=>:date_picker
          
          = f.input :account_id, :collection=>@period.accounts.order('number ASC'),  
             wrapper_html:{class:'col-lg-6'},
             :prompt=>false,
             label:'Compte', :label_method=>:long_name,
             :required => true              

        
          
        .form-actions
          =  f.button :submit,
            'Afficher les écritures du compte',
            id:'new_line_button',
            class:'btn-primary col-lg-offset-8'
