<%= content_for :menu do %>
  <%= icon_to 'retour.png', :back %>
  <%= icon_to 'supprimer.png', registration_path(resource_name),
     {:data => { :confirm => "Cette action est définitive, votre compte et toutes les comptabilités créées seront supprimés" },
     :method => :delete, title:'Pas satisfait ? Supprimer votre compte'} %>
<% end %>

<div class="champ">
  <h3>Modification de vos données personnelles
 </h3>


<div class="inner-champ">

<div class="panel-body">

<%= simple_form_for(resource, :as => resource_name,
  :url => registration_path(resource_name),
  :html => { :method => :put , class: 'form-horizontal'},
    wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>
  <div class='form-inputs'>
    <%= f.input :name, :required => true, :autofocus => true,   my_wrapper_html: {class: "col-lg-3"} %>
    <%= f.input :email, :required => true, my_wrapper_html: {class: "col-lg-3"} %>

     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Actuellement en attente de confirmation de: <%= resource.unconfirmed_email %></p>
     <% end %>

    <%= f.input :password, :autocomplete => "off", label:'Nouveau mot de passe',  my_wrapper_html: {class: "col-lg-3"}, :hint => "laisser en blanc si pas de changement", :required => false %>
    <%= f.input :password_confirmation,   my_wrapper_html: {class: "col-lg-3"}, :required => false %>
    <%= f.input :current_password,  my_wrapper_html: {class: "col-lg-3"}, :hint => "obligatoire pour valider vos changements", :required => true %>


</div<
  <div class="form-actions">

  <%= f.button :submit, "Mettre à jour", class: "btn-primary col-lg-2, col-lg-offset-2"  %>

   </div>
 <% end %>
 </div>

</div></div>

