<div class="champ">
  <h3>Création d'un compte</h3>

<div class="inner-champ">

<div class="panel-body">

<%= simple_form_for(resource, :as => resource_name, 
  :url => registration_path(resource_name),  :html=> {class: 'form-horizontal'}, 
    wrapper: :horizontal_form) do |f| %>
  
  <%= f.error_notification %>

  <div class='form-actions'> 
    <%= f.input :name, :required => true, :autofocus => true,  my_wrapper_html: {class: "col-lg-3"} %>
    <%= f.input :email, :required => true,  my_wrapper_html: {class: "col-lg-3"}  %>
    <%= f.input :password, :required => true, hint:'8 caractères minimum', my_wrapper_html:{class: "col-lg-3"}  %>
    <%= f.input :password_confirmation, :required => true, 
      hint:'Répéter le mot de passe', my_wrapper_html:{class: "col-lg-3"}  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "S'inscrire", class: "btn-primary col-lg-2 col-lg-offset-3" %>
  </div>
<% end %>
 </div>


</div></div>