<%= content_for :menu do %>
  <%= icon_to 'retour.png', :back %>
<% end %>

<div class="champ">
  <h3>
    Importation d'un fichier
  </h3>


  <div class="inner-champ row-fluid">
    <div class="inputs">
      <p><span>Sauvegarde du : </span><%=l @datas[:created_at] %> </p>
      <p><span>Commentaire :  </span><%= @datas[:comment] %> </p>
      <p><span>Organisme :  </span><%=  @datas[:organism].title %> </p>
      <p><span>Description : </span> <%=   @datas[:organism].description %> </p>
      
    <% @datas[:periods].each do |p| %>
      <p><span><%=  "#{p.exercice}" %></span></p>

        <ul>
          <%= content_tag :li, "Statut : #{p.is_closed? ? 'Fermé' : 'Ouvert'}" %> 
          <%= content_tag :li, "Total balance : #{p.lines.sum(:credit)}" %>
          <%= content_tag :li, "Nombre de lignes : #{p.lines.count}" %>
        </ul>
    
    <% end %>

     

      <%= form_tag rebuild_admin_restore_path(:file_name=>@just_filename), :class=> 'simple-form' do %>
        <div class="form-actions offset1">
          <%= submit_tag "Confirmer l'importation" ,  class: "btn-primary span2" %>
          </div>

        <% end %>
      </div>
    </div>
</div>

  