<%= content_for :menu do %>
<%= icon_to 'retour.png', :back %>
<% end %>

<fieldset>
  <legend>
    Importation d'un fichier
  </legend>

  <p>Commentaire : <%= @datas[:comment] %> </p>
    <p>Fichier généré le : <%=l @datas[:created_at] %> </p>
  
  <%= form_tag rebuild_admin_restore_path(:file_name=>@just_filename) do %>
 <div>  <%= submit_tag "Confirmer l'importation"  %></div>

<% end %>

</fieldset>


<h3>Les élements suivants seront importés</h3>

<h4>Organisme</h4>
<p>Un nouvel organisme intitulé <%= content_tag :em, @datas[:organism].title %> sera créé </p>

<h4>Exercices</h4>
<ul>
<% @datas[:periods].each do |p| %>
<%= content_tag :li, "Création de #{p.exercice}" %>
<% end %>
</ul>

<h4>Liste des destinations qui seront créées</h4>
<ul>
  <% @datas[:destinations].each do |d| %>
  <%= content_tag :li, d.name %>
  <% end %>
</ul>

<h4>Liste des natures qui seront créées</h4>
<ul>
  <% @datas[:natures].map {|n| n.name}.each do |name| %>
  <%= content_tag :li, name %>
  <% end %>
</ul>

<h4>Liste des livres qui seront créées</h4>
<ul>
  <% @datas[:books].each do |d| %>
  <%= content_tag :li, d.title %>
  <% end %>
</ul>

<h4>Seront également restaurés</h4>
<ul>
  <li><%= @datas[:accounts].count %> Comptes comptables</li>
  <li><%= @datas[:bank_accounts].count %> Comptes bancaires ainsi que les remises de chèques et les extraits bancaires correspondant</li>
  <li><%= @datas[:cashes].count %> Caisses ainsi que les contrôles de caisse associés</li>
  <li><%= @datas[:lines].count %> Lignes d'écritures </li>
   
</ul>

