<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= content_for :menu do %>
<%= icon_to 'retour.png', :back %>
<% end %>

<div class="champ">
  <h3>
    Restauration des données d'un exercice à partir d'un fichier
  </h3><div class="inner-champ">

  
<%= form_tag admin_restore_path, :multipart => true do %>
  <label for="file">Fichier source</label> <%= file_field_tag "file_upload" %>
  <div>  <%= submit_tag 'Restaurer'%></div>
<% end %>
 


</div></div>