<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= content_for :menu do %>
<%= icon_to 'retour.png', :back %>
<% end %>

<fieldset>
  <legend>
    Restauration des données d'un exercice à partir d'un fichier
  </legend>

  
<%= form_tag admin_organism_period_restore_path(@organism,@period), :multipart => true do %>
  <label for="file">Fichier source</label> <%= file_field_tag "file_upload" %>
  <div>  <%= submit_tag 'Restaurer'%></div>
<% end %>
 


</fieldset>