<%= content_for :menu do %>
<%= icon_to 'retour.png', :back %>
<% end %>

<div class="champ">
  <h3>
    Restauration d'un organisme à partir d'un fichier
  </h3>
  
  <div class ="inner-champ">
    <p>La restauration d'une comptabilité se fait en chargeant un fichier avec 
      l'extension <%= @db_format  %>, fichier qui aura bien sur été préalablement exporté à partir du logiciel FaitesLesComptes.</p>
    <p>Si la comptabilité de cet organisme existe déja, vous pouvez choisir soit d'écraser
      celle existante, soit de créer une nouvelle base de données avec ce fichier.</p>
    <p>Le choix se fait en donnant un nouveau nom à la base de données dans le formulaire ci-dessous.</p>
    <p>Le logiciel ne vérifie pas l'intégrité du fichier transmis.</p>
  
   <div class="inputs">
     <%= form_tag admin_restore_path, :multipart => true, :class=>'simple_form form-horizontal' do  %>
     <div class="control-group string required">
     <label  for="file_upload" class="string required control-label">
       <abbr title="exigé">*</abbr>
      Fichier source
    </label>
      
    <div class="controls">
       <%= file_field_tag 'file_upload', class: 'input-file' %>
    </div>

    <div class="control-group string required">
     <label  for="database_name" class="string required control-label">
       <abbr title="exigé">*</abbr>
      Nom de la base
    </label>

    <div class="controls">
       <%= text_field_tag 'database_name', nil, { class:'input-file', placeholder:'minuscules sans espace', :required=>true}  %>
    </div>

 
  </div>
     <div class="form-horizontal form-actions">
        <%= submit_tag 'Charger le fichier et créer la base' ,  class: "btn-primary span3" %>
     </div>


<% end %>
 </div>
   </div>
  
</div>
</div>
