<%= simple_form_for([:admin, @organism, @period, @account]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :number , :hint=>'2 chiffres ou plus suivis éventuellement de lettres capitales',:disabled=>!@account.new_record?%>
    <%= f.input :title %>
    <%= f.input :used %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
