<%= simple_form_for([:admin, @organism, @period, @account]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :number ,:input_html=>{:placeholder=>'2 à 8 chiffres', :size=>'20'},:disabled=>!@account.new_record? %>
    <%= f.input :title %>
    <%= f.input :used %>

    <div class="input">
      <%= f.label 'Natures' %>
    <%= select_tag  'account[nature_ids][]',  grouped_options_for_select([ ['Recettes', options_for_select(@organism.natures.recettes.collect {|n| [n.name, n.id]})],
        ['Dépenses', options_for_select(@organism.natures.depenses.collect {|n| [n.name, n.id]})]]), {:multiple=>true , :size=>10} %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
