 <div class="inputs">

<%= simple_form_for([:admin, @organism, @period, @account],  :html=> {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

 
    <%= f.input :number ,:input_html=>{:placeholder=>'2 à 8 chiffres', :size=>'20'},:disabled=>!@account.new_record? %>
    <%= f.input :title %>
    <%= f.input :used %>

    <%= f.association :natures, :label=> 'Natures associées', input_html: {size: 10, multiple:true},
                :collection => options_for_accounts(@period), :as => :grouped_select, :group_method => :options, :group_label_method=> :title,
                :label_method=> :name, :value_method=> :id %>
  
   

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
 </div>