 <div class="mapping_accounts" id="accordion">
   <% 6.upto(7) do |i| %>
   <h3 id ="acc_comptes_<%=i%>" ><a href="#">Comptes de classe <%= i %></a></h3>
   <div>

   <ul class="list_accounts">
    <% @accounts.classe(i).all.each  do |account| %>
      <li class="account_list_<%=i %>" id="account_<%= account.id  %>"> <%= account.long_name %>
        <ul>
          <% account.natures.each do |nature| %>
             <%= render partial: 'li_nature', object: nature, locals: {r: (nature.income_outcome? ? 'recettes' : 'depenses')} %>
          <% end %>
        </ul>
      </li>

    <% end %>
       </ul>
    </div>
   <% end %>
  </div>

