= content_for :menu do 
  = icon_to 'nouveau.png', new_admin_period_account_path(@period)
  - if @organism.status == 'Comité d\'entreprise' &&  Rubrik.where('name LIKE ?', '%AEP').empty?
    =icon_to 'hammer-screwdriver.png',
      reset_folios_admin_organism_path(@organism, period_id:@period.id),
      title: 'Reconstruction des modèles de documents comptables - Lisez les instructions avant de cliquer',
      method: :post

.champ
  %h3 Liste des comptes

  %table.table.table-striped.table-bordered.table-condensed.dataTable(cellpadding="0" cellspacing="0" border="0")
    %thead(class="#{@sectorized ? 'sectored' : 'not_sectored'}")
      %tr
        %th Numéro
        -if @sectorized
          %th Secteur 
        %th Intitulé
        %th Natures rattachées
        %th Actif
        %th Actions
 
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.number.to_s
          -if @sectorized
            %td= secteur(account)
          %td= account.title
          %td= render(partial:'nature', collection:account.natures.all) if (account.nb_nats.to_i > 0)
          %td.acc_used{id:"td_used_#{account.id}"}
            =check_box_tag("used_#{account.id}", account.id, account.used)
          %td.actions= account_actions(account)
            
  
