<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_admin_organism_period_account_path(@organism, @period) %>
<% end -%>

<fieldset><legend> <%= @organism.title %> - <%= @period.exercice %> -   Liste des Comptes</legend>
<table>
  <tr>
    <th>Numéro</th>
    <th>Intitulé</th>
    <th>Utilisé</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compta_accounts.each do |compta_account| %>
  <tr>
    <td><%= compta_account.number %></td>
    <td><%= compta_account.title %></td>
    <td><%= compta_account.used %></td>
    <td><%= icon_to 'afficher.png', [@organism,@period,compta_account] %></td>
    <td><%= icon_to 'modifier.png', edit_admin_organism_period_account_path(@organism, @period, compta_account) %></td>
    <td><%= icon_to 'supprimer.png', [:admin,@organism,@period,compta_account], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


