= content_for :menu do 
  = icon_to 'nouveau.png', new_admin_period_account_path(@period)

.champ
  %h3 Liste des comptes

  %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
    %thead(class="#{@sectorized ? 'sectored' : 'not_sectored'}")
      %tr
        %th Numéro
        -if @sectorized
          %th Secteur 
        %th Intitulé
        %th Natures rattachées
        %th Actif
        %th Actions
 
    %tbody
      - @accounts.each do |account|
        %tr
          %td= account.number.to_s
          -if @sectorized
            %td= secteur(account)
          %td= account.title
          %td= render partial: 'nature', collection: account.natures.all if account.nb_nats.to_i > 0
          %td= t_used account
          %td
            = icon_to 'modifier.png', edit_admin_period_account_path(@period, account)
            - if (account.nb_cls.to_i == 0 && account.nb_nats.to_i == 0)
              = icon_to 'supprimer.png', [:admin,@period,account], :confirm => 'Etes vous sur ?', :method => :delete 
  
