.champ
  %h3 Rattachement des natures aux comptes
%span#period(style="display: none;")
  = @period.id

%div#accordion
  %h3
    %a(href='#') Correspondance des natures et des comptes de type Dépenses
  %div
    .span6
      %h4 Comptes et natures associées
      %ul.list_accounts_6
        - @accounts.classe(6).all.each  do |account|
          %li.account_list_6(id = "account_#{account.id}")
            = account.long_name
            %ul
              - account.natures.each do |nature|
                = render partial: 'li_nature', object: nature, locals: {r: 'depenses'}
    .span6
      %h4 Natures orphelines
      %ul.orphan_natures_depenses#depenses
        - @unlinked_natures.depenses.each do |nature|
          = render partial: 'li_nature', object: nature, locals: {r: 'depenses'}
  %h3
    %a(href='#') Correspondance des natures et des comptes de type Recettes
  %div
    .span6
      %h4 Comptes et natures associées
      %ul.list_accounts_7
        - @accounts.classe(7).all.each  do |account|
          %li.account_list_7(id = "account_#{account.id}")
            = account.long_name
            %ul
              - account.natures.each do |nature|
                = render partial: 'li_nature', object: nature, locals: {r: 'recettes'}
    .span6
      %h4 Natures orphelines
      %ul.orphan_natures_recettes#recettes
        - @unlinked_natures.recettes.each do |nature|
          = render partial: 'li_nature', object: nature, locals: {r: 'recettes'}
