
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_period_account_path(@organism, @period) %>
<%= icon_to 'modifier.png', edit_admin_organism_period_account_path(@organism,@period,@account) %>
<%= icon_to 'retour.png', :back %>
<% end -%>
<fieldset><legend><%= @organism.title %> - <%= @period.exercice %> - Description du compte </legend>

<p>
  <b>Numéro :</b>
  <%= @account.number %>
</p>

<p>
  <b>Intitulé :</b>
  <%= @account.title %>
</p>

<p>
  <b>Utilisé :</b>
  <%=t_used @account %>
</p>

</fieldset>

