
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_period_account_path(@organims, @period) %>
<%= icon_to 'modifier.png', edit_admin_organism_period_account_path(@organism,@period,@compta_account) %>
<%= icon_to 'retour.png', :back %>
<% end -%>
<fieldset><legend><%= @organism.title %> - <%= @period.exercice %> - Description du compte </legend>

<p>
  <b>Number:</b>
  <%= @compta_account.number %>
</p>

<p>
  <b>Title:</b>
  <%= @compta_account.title %>
</p>

<p>
  <b>Used:</b>
  <%= @compta_account.used %>
</p>

</fieldset>

