<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  <td>
    <%= image_tag(listing.image_url, class: 'list_image') %>
  </td>
  <td class="list_description" >
    <dl>
      <dt><%= listing.title %></dt>
      <dd><%= truncate(strip_tags(listing.description), length: 80)  %></dd>
    </dl>
  </td>
  <td class="list_actions">
    <%= icon_to 'afficher.png', [@organism,listing] %><br/>
    <%= icon_to 'modifier.png', edit_organism_listing_path(@organism, listing) %><br/>
    <%= icon_to 'supprimer.png', [@organism,listing], confirm: 'Are you sure?', method: :delete %><br/>
    <%= icon_to 'nouveau.png', new_listing_line_path(listing) %>
  </td>
  </tr>
