<%= content_for :submenu do %>


<%= icon_to 'modifier.png', edit_organism_listing_path(@organism,@listing) %>
<%= icon_to 'retour.png', organism_listings_path(@organism) %>

<% end -%>
<fieldset>
  <legend><%= @organism.title %> - <%= @organism.description %></legend>

 <%= image_tag(@listing.image_url, class: 'list_image') %>
 <%= @listing.title %>
</fieldset>
<p><%=  link_to 'Nouvelle ligne', new_listing_line_path(@listing) %></p>
<p>Ici il y aura donc la liste des écritures*</p>

