

<div class="inputs" id="form_bank_account_line" >

  <%=  simple_form_for(@line, :url=>create_bank_extract_modal_lines_path(@bank_extract), :method=>:post, :remote=>true,  :wrapper=>:prepend, :html=> {class: 'form-inline'}) do |f| %>

    <%= f.error_notification %>
   
      <%= f.association :book, label:'Livre',
        :collection=>@organism.public_books,
        required:true, 
        label_html: {class: "span2"},

        label_method: lambda {|b| "#{b.class.name == 'IncomeBook' ? 'R' : 'D'} - #{b.title}" },
        include_blank:false,
        input_html: {class: "span2" } %>

        <div class="control-group select required">


<label class="string optional control-label span2" for="pick_date_line">
  <abbr title="exigé">
    *
  </abbr>
  Date
</label>
       
          <div class="controls">
            <div class="input-prepend">
          <%= picker_date 'line[pick_date]', @period.start_date, @period.close_date , @line.pick_date %>
            </div>
          </div>
        </div>


        <%= f.input :narration,  :label=>'Libellé ', label_html: {class: "span2"}, input_html: {class: "span3" } %>
       
          <%= f.input :ref, label:'Référence',  label_html: {class: "span2"}, input_html: {class: "span2" }  %>
          <%=  f.association :nature , label_html: {class: "span2"},
              :collection => [Utilities::NaturesCollection.new(@organism, :recettes), Utilities::NaturesCollection.new(@organism, :depenses)],
              :as => :grouped_select, :group_method=>:natures,
              :required=>true, input_html: {class: "span3 " } %>

           <%=  f.association :destination, :collection =>@organism.destinations.all(:order => 'name'), :label=>'Destinat°',
              :prompt => "Pour qui ?" ,  label_html: {class: "span2"}, input_html: {class: "span3"} %>
       
     

     
            <%=  f.input :debit ,  label_html: {class: "span2"}, input_html: {class: "span2 number", value: two_decimals(@line.debit) }  %>
            <%=  f.input :credit, label_html: {class: "span2"}, input_html: {class: "span2 number", value: two_decimals(@line.credit) } %>
            <%= f.input :bank_account,  label_html: {class: "span2"}, input_html: {class: "span2"}, :disabled=>true %>
            <%= f.input :payment_mode , collection: Line::PAYMENT_MODES, :prompt=>'Mode de réglement',
                          disabled: 'Espèces',
                           label_html: {class: "span2"},
                          :required=>true,  input_html: {class: "span2"} %>
           <span id ="td_check_number">
               <%= f.input :check_number, label:'N° ch.', label_html: {class: "span2"}, input_html: {class: "span2" }  %>
           </span>
          

<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Fermer</a>
  <%=  f.button :submit, id: 'new_line_button', class: "btn-primary span1" %>
</div>
  <% end %>
</div>




              

