<div id='<%= "#{id}" %>' class="bar_monthly_graphic">
<div class="datas_for_graph"  style="display: none;">
  <span class="legend"><%= bar_graphic.legend.join(';') %>  </span>
  <span class="ticks">  <%= bar_graphic.ticks.join(';') %></span>
  <span class="period_ids"><%= bar_graphic.period_ids.join(';') %></span>
  <% bar_graphic.series.each_with_index do |s,i| %>
  <span class="series_<%= i %>">  <%= bar_graphic.series[i].join(';')  %></span>
 <% end %>
</div>
<div class="bar_graph"  id="chart_<%= id %>"></div>
</div>
