<div id='<%= "#{id}" %>' class="line_monthly_graphic">
<div class="datas_for_graph"  style="display: none;">
  <span class="legend"><%= line_graphic.legend.join(';') %>  </span>
  <span class="ticks">  <%= line_graphic.ticks.join(';') %></span>
   <% line_graphic.month_years.each_with_index do |my,i| %>
  <span class="month_years_<%= i %>"><%= my.join(';')  %></span>
 <% end %>
  <% line_graphic.series.each_with_index do |s,i| %>
  <span class="series_<%= i %>">  <%= s.join(';')  %></span>
 <% end %>
</div>
<div class="line_graph"  id="chart_<%= id %>"></div>
</div>