<%= content_for :menu do %>
  
<% end %>

<div class="row"> 
<div class="col-lg-12 message">
  <h3>
    <%= vous_avez_des_messages infos(@organism).size %>
  </h3>
  <div id="mail_ul">
  <ul>
    
   <% infos(@organism).each do |mess| %>
    <%= content_tag :li do %>
    <%=  mess[:text] %>
    <%= mess[:icon] if mess[:icon] %>
    <% end %>
        <% end %>
  </ul>
  </div>
</div>
</div>

<% @paves.each do |p|  %>
  <%= draw_pave(p, @period, 'col-lg-4 col-md-6 col-sm-12 col-xs-12')  %>
<% end %>


