<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', organisms_path %>
<% end %>

<div class="pave message">
  <h2>
    Vous avez <%= pluralize infos(@organism).size, 'message' %>
    <%= image_tag 'icones/mail-open.png', id: 'mail_img' %>
  </h2>
  <ul id="mail_ul">
    
   <% infos(@organism).each do |mess| %>
    <%= content_tag :li do %>
    <%=  mess[:text] %>
    <%= mess[:icon] if mess[:icon] %>
    <% end %>
        <% end %>
  </ul>
</div>

<%= render partial: 'book_pave', collection: @books %>
<%= render partial: 'result_pave', object: @period %>




<%= render partial: 'bank_pave', collection: @organism.bank_accounts %>
<%= render partial: 'cash_pave', collection: @organism.cashes %>




