
<%= content_for :bandeau do %>

<%= icon_to 'nouveau.png', new_organism_path %>
<%= icon_to 'modifier.png', edit_organism_path(@organism) %>
<%= icon_to 'retour.png', organisms_path %>
<% end -%>
<fieldset><legend><%= @organism.title %> - <%= @organism.description %></legend>



<table>
  <thead>
  <th>Titre</th>
  <th>Description</th>
  </thead>
  <tbody>
    <%= render @organism.listings %>
  </tbody>
  <tr></tr>
</table>

</fieldset>