<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', organisms_path %>
<% end %>



<% @books.each do |book| %>
  <div class="pave">
    <h2 class='<%= book.type %>' >
          Livre des <%=  book.title %>
          <%= icon_to 'modifier.png', new_book_line_path(book) %>
          <%= icon_to 'detail.png', book_lines_path(book) %>
    </h2>
   
    <%= render partial: 'graphic', object: book.graphic(@period) , :locals=>{id: "book_#{book.id}"} %>
  </div>
<% end %>



<%= content_tag :div, :class=>"pave result" do %>
  <h2>Résultat</h2>
  <%= render partial: 'graphic', object: @period.graphic(@period) , :locals=>{id: 'book_0'} %>
<% end %>‘

<% @organism.bank_accounts.each do |ba| %>
<%= content_tag :div, :class=>"pave bank"  do %>
<h2>Compte <%= ba.number %> = <%= number_to_currency ba.sold  %>
 <%= icon_to 'detail.png', organism_bank_account_path(@organism, ba) %></h2>
 <% if ba.bank_extracts.any? %>
<p>
      <span class="alert"> <%= "Attention, le pointage du dernier relevé n'est pas encore effectué" unless ba.bank_extracts.last.locked  %> </span><br />
       Dernier relevé du compte le <%=l ba.bank_extracts.last.end_date %> - Solde : <%= debit_credit(ba.last_bank_extract_sold) %>
</p>
    <% end %>

  <%= render partial: 'line_graphic', object: ba.graphic(@period) , :locals=>{id: "bank_#{ba.id}" } %>
<% end %>
<% end %>

<% @organism.cashes.each do |ca| %>
<%= content_tag :div, :class=>"pave cash"  do %>
<h2>Caisse <%=  ca.name %> = <%= number_to_currency ca.sold(@date) %>
  <%= icon_to 'detail.png', organism_cash_cash_lines_path(@organism, ca) %>
</h2>
 
  <% if ca.cash_controls.any?  %>
  <p>Dernier contrôle de caisse en date du <%=l ca.cash_controls.order('date ASC').last.date  %>
    <span class="alert"><%= cash_difference(ca.cash_controls.order('date ASC').last ) %></span>
  </p>
  <% else %>
  <span class="alert">Pas encore de contrôle de caisse à ce jour</span>
  <% end %>
  
  <%= render partial: 'line_graphic', object: ca.graphic(@period)  , :locals=>{id: "cash_#{ca.id}" } %>
<% end %>
<% end %>
  


