<%= content_for :menu do %>

<%= icon_to 'navigation90.png', organisms_path %>


<%= render 'menu' %>
<% end %>
<%= content_for :submenu do %>
<%= link_to 'Nature', stats_organism_path(@organism, by: :nature), title: 'Analyser les recettes et dépenses par nature'  %>
<%= link_to 'Destination', stats_organism_path(@organism, by: :destination), title: 'Analyser les recettes et dépenses par destination'  %>
<% end %>


<div>
  ICI on pourra mettre des infos de type graphique sur le suivi du compte


</div>
