<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', organisms_path %>
<% end %>



<% @organism.income_books.each do |ib| %>
<%= content_tag :div, :class=>"pave income"  do %>
<h2>Livre des <%=  ib.title %></h2>
<% end %>
<% end %>

<% @organism.outcome_books.each do |ib| %>
<%= content_tag :div, :class=>"pave outcome"  do %>
<h2>Livre des <%=  ib.title %></h2>
<% end %>
<% end %>

<%= content_tag :div, :class=>"pave message"  do %>
<h2>Messages</h2>
<p>
 <%= @organism.number_of_non_deposited_checks %> chèques à déposer pour un montant total de <%= debit_credit @organism.value_of_non_deposited_checks %>
</p>

<% end %>

<%= content_tag :div, :class=>"pave result"  do %>
<h2>Résultat</h2>

<% end %>

<% @organism.bank_accounts.each do |ba| %>
<%= content_tag :div, :class=>"pave bank"  do %>
<h2>Compte <%=   ba.name %> - <%= ba.number %></h2>
 <% if ba.bank_extracts.any? %>
      <span class="alert"> <%= "Attention, le pointage du dernier relevé n'est pas encore effectué" unless ba.bank_extracts.last.locked  %> </span><br />
       Dernier relevé du compte le <%=l ba.bank_extracts.last.end_date %> - Solde : <%= debit_credit(ba.last_bank_extract_sold) %> <br />
    <% end %>
        <%=   ba.lines_to_point.count %> écritures non encore prises en compte par la banque :
  Débit :<%= debit_credit ba.total_debit_np  %> - Crédit : <%= debit_credit ba.total_credit_np %><br/>
  Solde théorique calculé : <%= debit_credit(ba.last_bank_extract_sold + ba.sold_np) %>
<% end %>
<% end %>

<% @organism.cashes.each do |ca| %>
<%= content_tag :div, :class=>"pave cash"  do %>
<h2>Caisse <%=  ca.name %></h2>
 <p>Solde de la caisse : <%= debit_credit ca.sold %></p>
  <% if ca.cash_controls.any?  %>
  <p>Dernier contrôle de caisse en date du <%=l ca.cash_controls.order('date ASC').last.date  %>
    <span class="alert"><%= cash_difference(ca.cash_controls.order('date ASC').last ) %></span>
  </p>
  <% else %>
  <span class="alert">Pas encore de contrôle de caisse à ce jour</span>
  <% end %>
<% end %>
<% end %>



