<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', organisms_path %>
<% end %>

<div class="pave message">
  <h2>
    Vous avez <%= pluralize infos(@organism).size, 'message' %>
    <%= image_tag 'icones/mail-open.png', id: 'mail_img' %>
  </h2>
  <ul id="mail_ul">
    
   <% infos(@organism).each do |mess| %>
    <%= content_tag :li do %>
    <%=  mess[:text] %>
    <%= mess[:icon] if mess[:icon] %>
    <% end %>
        <% end %>
  </ul>
</div>

<% @paves.in_groups_of(3, false) do |p|  %>
  <%= pave(p[0], 'left') %>
  <%= pave(p[1], 'middle') %>
  <%= pave(p[2], 'right') %>

<% end %>


