<%= content_for :menu do %>

<%= icon_to 'navigation90.png', organisms_path %>
<% end %>
<%= content_for :submenu do %>
<%= link_to_unless_current 'Nature', stats_organism_path(@organism, by: :nature), title: 'Analyser les recettes et dépenses par nature'  %>
<%= link_to_unless_current 'Destination', stats_organism_path(@organism, by: :destination), title: 'Analyser les recettes et dépenses par destination'  %>
<% end %>

<fieldset>
  <legend>
    Analyse des <%= @demand.pluralize %>
  </legend>

  <%= form_tag stats_organism_path(@organism),:method => :get, :style=>"display: inline;"  do %>

   <label for="pick_date_from">Du : </label>
   <%= picker_date :pick_date_from, Date.today.beginning_of_year.years_ago(4), Date.today.end_of_year.years_since(4), @date_from %>
    <label for="pick_date_to">Au : </label>
   <%= picker_date :pick_date_to, Date.today.beginning_of_year.years_ago(4), Date.today.end_of_year.years_since(4), @date_to %>
<%= submit_tag 'Rafraichir', :class=>'button' %>
<% end %>

</fieldset>

<table class="data_table display">
  <thead>
    <tr>
      <th><%=  @demand.capitalize %></th>
      <th>Débit</th>
      <th>Crédit</th>
    </tr>
  </thead>
   <tfoot id="table_foot">

     <%= render 'table_foot' %>
   </tfoot>
  <tbody>
    <% @lines.each do |l| %>
    <tr>
      <td><%=  l.destination.name if l.destination && @demand == 'destination' %>
      <%=  l.nature.name if l.nature && @demand == 'nature' %></td>
       <td class="numeric"><%= debit_credit(l.debit) %></td>
          <td class="numeric"><%= debit_credit(l.credit) %></td>
     </tr>
    <% end %>
  </tbody>
</table>
