<%= content_for :menu do %>

<%= icon_to 'retour.png', admin_rooms_path %>

<% end -%> 


<div class="champ">
  <h3>
    Nouvel organisme
  </h3><div class="inner-champ">

<div class="inputs">
<%= simple_form_for([:admin,@room], :url =>admin_rooms_path, :method => :post, 
  :html=> {class: 'form-horizontal', id:'new_admin_room'}) do |f| %>
<%= f.error_notification %>

    <%= f.input :title,  input_html: {class: "span3"} %> 
    <%= f.input :comment,  input_html: {class: "span6"} %>
    <%= f.input :racine, 
           label:'Nom de la base',
           input_html: {class: "span3"},
           hint:'lettres minuscules uniquement, 6 minimum, sans espace' %>

    <%= f.input :status, :label=>'Statut',
         :collection=>LIST_STATUS, :as=>:inline_radio_buttons %>

   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary span2", id:'new_admin_room' %>
   </div>
<% end %>
  </div>
</div></div>