= content_for :menu do
  = icon_to 'payment.png', member_payments_path(@member), title:"Liste des paiements de #{@member.to_s}" 
  = icon_to 'money-plus.png', new_member_payment_path(@member), title:'Nouveau paiement'
  - if (@payment.non_impute != 0.0)
    = icon_to 'imputation.png', new_payment_reglement_path(@payment), title: 'Imputer le solde sur une autre adhésion'
  %a.icon_menu#payment_receipt_print(title="Imprimer un reçu")
    =image_tag("adherent/icones/printer.png", class:'icon_print')    
      
  - if editable?(@payment)
    = icon_to 'modifier.png', edit_member_payment_path(@payment.member, @payment) 
    = icon_to 'supprimer.png', [@member,@payment],
      method: :delete, data: {confirm: 'Etes vous sûr ?'} 


.champ
  %h3 Détail d'un paiement

.inner-champ
  %p
    %b Effectué par :
    = @member.to_s
  %p
    %b Le :
    = @payment.date
  %p
    %b Montant :
    = number_to_currency(@payment.amount, locale: :fr)
  %p
    %b Commentaire :
    = @payment.comment
  %p
    %b Par :
    = @payment.mode
  %p
    %b Imputé sur :
    = list_imputations(@payment)
  %p
    %b Reste à imputer :
    = number_to_currency @payment.non_impute, locale: :fr
  
= render 'receipt'        