          <td class="clickable"><%=l line.date %></td>
          <td class="clickable"><%= line.ref %></td>
          <td class="clickable"><%= line.narration %></td>
          <td class="clickable"><%= line.destination.name if line.destination %></td>
          <td class="clickable"><%= line.nature.name if line.nature %></td>  
          <td class="numeric clickable"><%= debit_credit(line.credit) %></td>
          <td class="numeric clickable"><%= debit_credit(line.debit) %></td>
       <%= in_out_line_actions(line) %>