<%= content_for :menu do %>
  <%= icon_to 'navigation90.png', organism_cashes_path(@organism), title: 'Liste des caisses' %>
<% end -%>








<fieldset><legend>Livre de caisse - <%=  @book.name %></legend>
  <div id="submenu">
    <span><%=  link_to_if @period.previous_period?, '<<', previous_organism_period_path(@organism,@period) %></span>
    <%= cashsubmenu_helper(@book, @period) %>
    <span><%= link_to_if @period.next_period? ,'>>', next_organism_period_path(@organism,@period) %></span>
  </div>

  <table class="data_table display">
    <thead>
      <tr>
        <%= render 'table_header' %>
      </tr>
    </thead>
    <tbody id="table_lines">
      <%= render 'table_lines'  %>
    </tbody>
    <tfoot id="table_foot">

      <%= render 'table_foot' %>
    </tfoot>

  </table>

</fieldset>

