<%= content_for :menu do %>

  <%= icon_to 'navigation90.png', organism_cashes_path(@organism), title: 'Liste des caisses' %>
<% end -%>

<%= content_for :submenu do %>
 <span><%=  link_to_if @period.previous_period?, '<<', previous_period_organism_period_path(@organism,@period) %></span>
 <%= cashsubmenu_helper(@book, @period) %>
<span><%= link_to_if @period.next_period? ,'>>', next_period_organism_period_path(@organism,@period) %></span>


 

<% end %>

<fieldset><legend>Livre de caisse - <%=  @book.name %></legend>
  <table class="data_table display">
    <thead>
      <tr>
        <%= render 'lines/table_header' %>
     </tr>
    </thead>
   <tbody id="table_lines">
      <%= render 'lines/table_lines'  %>
   </tbody>
  <tfoot id="table_foot">

     <%= render 'lines/table_foot' %>
   </tfoot>

      </table>

    </fieldset>

