%tr
  %td= balance_line[:number]
  %td
    = balance_line[:title]
    = icon_to 'afficher.png', compta_period_listing_path(@period, compta_listing:{account_id:balance_line[:account_id], |
      from_date:@balance.from_date, to_date:@balance.to_date}) unless balance_line[:empty]                              |
  %td.numeric= debit_credit(balance_line[:cumul_debit_before])
  %td.numeric= debit_credit(balance_line[:cumul_credit_before])
  %td.numeric= debit_credit(balance_line[:movement_debit])
  %td.numeric= debit_credit(balance_line[:movement_credit])
  %td.numeric= debit_credit(balance_line[:cumul_debit_at])
  %td.numeric= debit_credit(balance_line[:cumul_credit_at])
