<%= form_tag compta_period_balance_path(@period),:style=>"display: inline;"  do %>
   <label for="begin_date">Au : </label>
   <%= picker_date :begin_date, @period.start_date, @period.close_date, @begin_date %>
    <label for="end_date">Au : </label>
   <%= picker_date :end_date, @period.start_date, @period.close_date, @end_date %>

    <br />

<label>Du compte : </label>
<%= select_tag :begin_account, options_from_collection_for_select(@period.accounts.order('number ASC').all,:number, :long_name,
  :selected=>@begin_account.number) %>

<label>Au compte : </label>
<%= select_tag :end_account, options_from_collection_for_select(@period.accounts.order('number ASC').all, :number, :long_name,
  :selected=>@end_account.number) %>
<br />
<%= submit_tag 'Afficher', :class=>'button' %>
<% end %>
