<div class="panel-body">

  <%= simple_form_for @balance, :url=>compta_period_balance_path(@period),
    :html=> {class: 'form-inline'}, wrapper:'inline_form' do |balance_f| %>


    <%= balance_f.error_notification %>
    <div class='form-inputs'> 
      <div class="col-lg-12">
        <%= balance_f.input :from_date_picker, 
          wrapper_html:{class:'col-lg-6'},
            
            input_html:{date_min:@period.start_date, date_max:@period.close_date},
            :required => true, :as=>:date_picker %>

        <%= balance_f.input :to_date_picker,  
          wrapper_html:{class:'col-lg-6'},
            input_html:{date_min:@period.start_date, date_max:@period.close_date},
            :required => true, :as=>:date_picker %>

      </div>



      <div class="col-lg-12">
        <%= balance_f.input :from_account_id, :collection=>@period.accounts.order('number ASC'),
          wrapper_html:{class:'col-lg-6'}, :prompt=>false,
            label:'Du compte', :label_method=>:long_name,
            my_wrapper_html:{class:'col-lg-6'},
            :required => true %>

        <%= balance_f.input :to_account_id, :collection=>@period.accounts.order('number ASC'),
          wrapper_html:{class:'col-lg-6'}, :prompt=>false,
            label:'Au compte', :label_method=>:long_name,
            my_wrapper_html:{class:'col-lg-6'},
            :required => true %>
      </div>

    </div>


    <div class="form-actions">
      <%=  balance_f.button :submit, 'Afficher la balance',
        id: 'new_balance_button', class: "btn-primary col-lg-2 col-lg-offset-9 with_spinner" %>
    </div>
   
  <% end %>
 </div>