<div class="inputs row-fluid">

<%= simple_form_for :balance, :url=>'/balance',  :html=> {class: 'form-inline'} do |balance_f| %>
 
    
     <%= balance_f.error_notification %>
    <div class="row-fluid">
      <div class="span12">
    <%= balance_f.input :begin_date_picker, :label=> 'Date début', wrapper_html:{class:'span3'}, label_html: {class: 'span4'}, input_html: {class: 'span8', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>
    <%= balance_f.input :end_date_picker, :label=> 'Date fin', wrapper_html:{class:'span3'}, label_html: {class: 'span4'}, input_html: {class: 'span8', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>
      </div>
      </div>

  <div class="row-fluid">
        <div class="span12">
          <%= balance_f.input :begin_account, :collection=>@period.accounts.order('number ASC'),
              wrapper_html:{class:'span3'},
              label:'Du compte', label_html: {class: 'span4'},
              input_html: {class: 'span8'} ,:required => true %>

          <%= balance_f.input :end_account, :collection=>@period.accounts.order('number ASC'),
              wrapper_html:{class:'span3'},
              label:'Au compte',  label_html: {class: 'span4'},
              input_html: {class: 'span8'} ,:required => true %>
            


  </div>
      </div>
 <div class="row-fluid">
         <div class="span12">
          <div class="form-actions offset1">
            <%=  balance_f.button :submit, 'Afficher la balance', id: 'new_line_button', class: "btn-primary span2" %>
            </div>
         </div>
       </div>
<% end %>
</div>