<%= content_for :menu do %>
<a data-toggle="modal" class="icon_menu" href="#modal_form_balance">
  <%= image_tag('icones/nouveau.png') %>
</a>
<%=  icon_to 'printer.png', compta_period_balance_path(@period, :format=>'pdf') %>

<% end %>
<div class="champ">
  <h3>Balance</h3>
  <%= render partial: 'modal_form' %>
</div>
<div id="balance_table">
  <%= render partial: 'balance' %>
</div>



