= content_for :menu do
  %a(data-toggle="modal" class="icon_menu" href="#modal_form_balance")
    = image_tag('icones/nouveau.png')
  = export_icons(period_id:@period.id,                                                                        |
    :compta_balance=>{:from_account_id=>@balance.from_account_id, :to_account_id=>@balance.to_account_id,     |
        :from_date_picker=>@balance.from_date_picker, :to_date_picker=>@balance.to_date_picker })


.champ
  %h3
    Balance
    = @balance.provisoire? ? 'provisoire' : ''
  = render partial: 'modal_form'

  #balance_table= render partial: 'balance'




