    <td><%= bank_extract.reference %></td>
    <td><%=l bank_extract.begin_date %></td>
    <td><%=l bank_extract.end_date %></td>
    <td class="numeric" id="begin_sold"><%= virgule(bank_extract.begin_sold) %></td>
     <td class="numeric" id="total_debit"><%= virgule(bank_extract.total_debit) %></td>
    <td class="numeric" id="total_credit"><%= virgule(bank_extract.total_credit) %></td>
    <td class="numeric" id="end_sold"><%= virgule(bank_extract.end_sold) %></td>



  