.inputs.row-fluid#bank_extracts
  = simple_form_for([@organism, @bank_account, @bank_extract]) do |f|
    =f.error_notification
    .row-fluid
      .span12
        = f.association :bank_account, :jclabel_wrapper_html=>{class: "span2"}, input_html: {class: 'span2'}, :include_blank=>false
        = f.input :reference, :jclabel_wrapper_html=>{class: "span2"}, input_html: {class: 'span2'}
    .row-fluid
      .span12
        .control-group.select.required 
          %ul.span2
            %li.list-label
              %label.select.required.control-label{:for=>"pick_date_line"}
                %abbr{:title=>"exigé"}
                  *
                Du
          = picker_date 'bank_extract[begin_date_picker]', Date.today.years_ago(5), Date.today.years_since(5) , @bank_extract.begin_date_picker
        .control-group.select.required
          %ul.span2
            %li.list-label
              %label.select.required.control-label{:for=>"pick_date_line"}
                %abbr{:title=>"exigé"}
                  *
                Au
          = picker_date 'bank_extract[end_date_picker]', Date.today.years_ago(5), Date.today.years_since(5) , @bank_extract.end_date_picker
          = f.input :begin_sold, :jclabel_wrapper_html=>{class: "span2"}, input_html: {class: 'span2', value: two_decimals(@bank_extract.begin_sold)}
    .row-fluid
      .span12
        = f.input :total_debit, :jclabel_wrapper_html=>{class: "span2"}, input_html: { class: 'span2',value: two_decimals(@bank_extract.total_debit)}
        = f.input :total_credit, :jclabel_wrapper_html=>{class: "span2"}, input_html: {class: 'span2', value: two_decimals(@bank_extract.total_credit)}
        .control-group.decimal.optional
          %div
            %ul.span2
              %li.list_label
                %label.decimal.control-label Solde final
            %span.controls
              %input.span2.decimal.numeric#span_end_sold{value: two_decimals(@bank_extract.end_sold), disabled: 'disabled' }
    .row
      .offset2.span2.clear
        = f.button :submit, class: "btn-primary span2"