
<%  SimpleForm.wrapper_tag = :div %>
<%= simple_form_for([@book, @bank_extract]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <%= f.association :book, collection: @organism.books.all(:order => 'title') %>
    <%= f.input :reference %>
  
  
    <div class="input date optionnal">
    <label>Du</label>
     <%= picker_date :pick_date_from, Date.today.years_ago(5), Date.today.years_since(5) , @bank_extract.deposit_date %>
    <label class="inline">Au</label>
     <%= picker_date :pick_date_to, Date.today.years_ago(5), Date.today.years_since(5) , @bank_extract.end_date %>
    </div>

    <%= f.input :begin_sold, input_html:{ value: two_decimals(@bank_extract.begin_sold)} %>
     <%= f.input :total_debit, input_html:{ value: two_decimals(@bank_extract.total_debit)}  %>
    <%= f.input :total_credit, input_html:{ value: two_decimals(@bank_extract.total_credit)}  %>
    
    <div id="end_sold"><label>Solde final </label> <span class="numeric" id="span_end_sold"> <%=  @bank_extract.end_sold %></span></div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
