= content_for :menu do
  = icon_to 'nouveau.png', new_bank_account_bank_extract_path(@bank_account),
    title:'Nouveau relevé de compte'
  = icon_to 'restauration.png', 
    new_importer_bank_account_bels_importer_path(@bank_account),
    title: 'Importe un relevé de compte bancaire'
  = icon_to 'afficher.png',
    bank_account_imported_bels_path(@bank_account),
    title: 'Affiche les lignes importées en attente d\'affectation'

.champ
  %h3 Banque #{@bank_account.nickname} : Liste des extraits de compte

%table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
  %thead
    %tr
      %th.pc10 Référence
      %th.pc10 Du
      %th.pc10 Au
      %th.pc10 Solde initial
      %th.pc10 Total débit
      %th.pc10 Total crédit
      %th.pc10 Solde final
      %th.pc10 Actions

  %tbody
    - @bank_extracts.each do |bank_extract| 
      %tr
        = render :partial=>'bank_extract', :object=>bank_extract
        %td
          = icon_to 'afficher.png', bank_extract_bank_extract_lines_path(bank_extract) unless bank_extract.bank_extract_lines.empty?
          = icon_to('modifier.png', edit_bank_account_bank_extract_path(@bank_account,bank_extract)) unless bank_extract.locked?
          = icon_to('pointer.png', pointage_bank_extract_bank_extract_lines_path(bank_extract)) if bank_extract.first_to_point?
          = icon_to('supprimer.png', [@bank_account,bank_extract], :confirm => 'Etes vous sur ?', :method => :delete) unless bank_extract.locked?
 

