<%= content_for :menu  do %>
  <%= icon_to 'navigation90.png', organism_bank_account_bank_extracts_path(@organism, @bank_account), :title=>'Retour vers la liste des extraits' %>
<% end %>

<%= content_for :submenu do %>
 
<% end %>
<fieldset>
  <legend>
    Affichage de l'extrait <%= @bank_extract.reference %>
  </legend>
  <table>
    <tr> <%= render 'bank_extracts/table_header' %><th></th></tr>
    <tr> <%= render @bank_extract %>
      <td>
        <%= button_to 'Valider et verrouiller les lignes',
          lock_organism_bank_account_bank_extract_path(@organism,@bank_account, @bank_extract) if @bank_extract.lockable? %>
      </td>
    </tr>
  </table>

</fieldset>

<div id="zone">
<div id="extract"><h3>Extrait bancaire</h3>
<table>
  <thead>
    <tr>
     
    <th></th>
      <th>Pos°</th>
      <th>Date</th>
      <th>Libellé</th>
      <th>Type</th>
      <th>Debit</th>
      <th>Crédit</th>
   <th></th>
    </tr>
  </thead>

  
  <%= form_tag depointe_organism_bank_account_bank_extract_path(@organism, @bank_account, @bank_extract) do -%>


    <% unless @bank_extract_lines.empty? %>
  <tbody>
  <%= render partial: 'tbody_bel' , object: @bank_extract_lines  %>
  </tbody>
         <tfoot>
           <tr class="total">
            
             <td></td><td></td><td></td><td></td>
             <td class="total">Totaux</td>
             <td class="total numeric"><%= debit_credit(@bank_extract.total_lines_debit) %></td>
             <td class="total numeric"><%= debit_credit(@bank_extract.total_lines_credit) %></td>
            <td></td>
           </tr>
         </tfoot>
    <% end %>
 

</table>

        <div><%= submit_tag 'Renvoie'  %></div>
 <% end -%>
</div>

  <% unless @locked %>
<div id="arrows">

  <a id="left_arrow" href="#"><%= image_tag('BlurMetalLi6.gif', size: "24x24")  %> </a>
  <br/>
  <a id="right_arrow" href=""><%= image_tag('BlurMetalLj6.gif', size: "24x24")  %> </a>
</div>

<div id="to_point"><h3>Ecritures à pointer</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Libellé</th>
      <th>Type</th>
      <th>Debit</th>
      <th>Crédit</th>
    </tr>
  </thead>
  <%= form_tag pointe_organism_bank_account_bank_extract_path(@organism, @bank_account, @bank_extract) do -%>
  <tbody>
  
 

      <% @lines_to_point.each do  |ltp| %>
        <tr id="bank_line_<%= ltp.blid %>">
          <td><%= check_box_tag "#{ltp.blid}" %> </td>
          <td class="date"><%=l ltp.date %> </td>
          <td><%= ltp.narration %> </td>
          <td><%= ltp.payment %> </td>
          <td class="numeric"><%= debit_credit ltp.debit %> </td>
          <td class="numeric"><%= debit_credit ltp.credit %> </td>
        </tr>
      <% end %>
 
  </tbody>

</table>
      <div><%= submit_tag 'Déplace' %></div>
 <% end -%>
</div>
  <% end %>
</div>