<%= content_for :menu  do %>
  <%= icon_to 'navigation90.png', organism_bank_account_bank_extracts_path(@organism, @bank_account), :title=>'Retour vers la liste des extraits' %>
<% end %>

<%= content_for :submenu do %>
  <%= link_to 'Pointage', pointage_organism_bank_account_bank_extract_path(@organism,@bank_account,@bank_extract) unless @bank_extract.locked %>
<% end %>
<fieldset>
  <legend>
    Affichage de l'extrait <%= @bank_extract.reference %>
  </legend>
  <table>
    <tr> <%= render 'bank_extracts/table_header' %><th></th></tr>
    <tr> <%= render @bank_extract %> </tr>
  </table>

</fieldset>

<div id="zone">
<div id="extract"><h3>Extrait bancaire</h3>
<table>
  <thead>
    <tr>
      <th>Pos°</th>
      <th>Date</th>
      <th>Libellé</th>
      <th>Type</th>
      <th>Debit</th>
      <th>Crédit</th>
    </tr>
  </thead>

  
 


    <% unless @bank_extract_lines.empty? %>
  <tbody>
      <% @bank_extract_lines.each do  |bank_extract_line| %>

        <tr><%=  render bank_extract_line %> </tr>
      <% end %>
         </tbody>
         <tfoot>
           <tr class="total">
            
             <td></td><td></td><td></td>
             <td class="total">Totaux</td>
             <td class="total numeric"><%= debit_credit(@bank_extract.total_lines_debit) %></td>
             <td class="total numeric"><%= debit_credit(@bank_extract.total_lines_credit) %></td>
            
           </tr>
         </tfoot>
    <% end %>
 

</table>

       
</div>


</div>