<%= content_for :menu  do %>
  <%= icon_to 'navigation90.png', organism_bank_account_bank_extracts_path(@organism, @bank_account), :title=>'Retour vers la liste des extraits' %>
<% end %>

<%= content_for :submenu do %>
  <%= link_to 'pointage', pointage_path(@bank_extract) %>
<% end %>
<fieldset>
  <legend>
    Affichage de l'extrait <%= @bank_extract.reference %>
  </legend>
  <table>
    <tr> <%= render 'bank_extracts/table_header' %></tr>
    <tr> <%= render @bank_extract %>  </tr>
    
  </table>
</fieldset>

<div id="zone">
<div id="extract"><h3>Extrait bancaire</h3>
<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Date</th>
      <th>Libellé</th>
      <th>Type</th>
      <th>Debit</th>
      <th>Crédit</th>
    </tr>
  </thead>

  <tbody>
    <% unless @bank_extract_lines.empty? %>

      <% @bank_extract_lines.each do  |bank_extract_line| %>
        <tr>
          <%=  render bank_extract_line %>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>
</div>
<div id="arrows">
  <<
  <br />
  >>
</div>

<div id="to_point"><h3>Ecritures à pointer</h3>
<table>
  <thead>
    <tr>

      <th>Date</th>
      <th>Libellé</th>
      <th>Type</th>
      <th>Debit</th>
      <th>Crédit</th>
    </tr>
  </thead>

  <tbody>
  

      <% @lines_to_point.each do  |ltp| %>
        <tr id="bank_line_#{ltp.id}">
          <td class="date"><%=l ltp.date %> </td>
          <td><%= ltp.narration %> </td>
          <td><%= ltp.payment %> </td>
          <td class="numeric"><%= debit_credit ltp.debit %> </td>
          <td class="numeric"><%= debit_credit ltp.credit %> </td>
        </tr>
      <% end %>
    
  </tbody>

</table>
</div>
</div>