%tr{:id=>dom_id(importable), class:'importable'}
  %td= I18n.l importable.date
  %td.bip.cat
    = best_in_place importable, :cat, type: :select,
    collection:collection_cat(importable),
    path: bank_account_imported_bel_path(@bank_account, importable),
    inner_class: 'pc95'
  %td.bip
    = best_in_place importable, :ref, :type => :input,
    path: bank_account_imported_bel_path(@bank_account, importable),
    inner_class: 'pc95'
  %td.bip
    = best_in_place importable, :narration, :type => :input,
    path: bank_account_imported_bel_path(@bank_account, importable),
    inner_class: 'pc95'
  %td.bip.destination
    = best_in_place importable, :destination_id, type: :select,
    collection:@bank_account.sector.destinations.all.collect {|d| [d.id, d.name]},
    path: bank_account_imported_bel_path(@bank_account, importable),
    inner_class: 'pc95'
  %td.bip.nature
    = best_in_place importable, :nature_id, type: :select,
    collection:collection_nature(importable),
    path: bank_account_imported_bel_path(@bank_account, importable),
    classes:'bip_nature',
    inner_class: 'pc95'
  %td.numeric= debit_credit importable.debit
  %td.numeric= debit_credit importable.credit
  %td.bip.payment_mode
    = best_in_place importable, :payment_mode, type: :select, 
    collection:collection_payment_mode(importable),
    path: bank_account_imported_bel_path(@bank_account, importable),
    inner_class: 'pc95',
    data: {cat:importable.cat}
  %td

    = icon_to 'nouveau.png', 
      write_bank_account_imported_bel_path(@bank_account, importable),
      :method=>:post, hidden:!importable.complete?, remote:true

    = icon_to('supprimer.png', [@bank_account, importable], :method => :delete, remote:true)
