= content_for :menu do
  = icon_to 'nouveau.png', new_importer_bank_account_bels_importer_path(@bank_account)

.champ
  %h3 Banque #{@bank_account.nickname} : Liste des lignes importées

  %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th.pc5.date-euro Date
        %th.pc5 Type
        %th.pc5 Réf
        %th.pc30 Libellé
        %th.pc15 Activité
        %th.pc15 Nature
        %th.pc5 Dépenses
        %th.pc5 Recettes
        %th.pc10 Mode Pt
        %th.actions Actions
    %tbody
      - @imported_bels.each do |ibel| 
        %tr
          %td= I18n.l ibel.date
          %td.bip
            = best_in_place ibel, :cat, type: :select,
            collection:collection_cat(ibel),
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td.bip
            = best_in_place ibel, :ref, :type => :input,
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td.bip
            = best_in_place ibel, :narration, :type => :input,
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td.bip
            = best_in_place ibel, :destination_id, type: :select,
            collection:@bank_account.sector.destinations.all.collect {|d| [d.id, d.name]},
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td.bip 
            = best_in_place ibel, :nature_id, type: :select,
            collection:collection_nature(ibel),
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td.numeric= debit_credit ibel.debit
          %td.numeric= debit_credit ibel.credit
          %td.bip
            = best_in_place ibel, :payment_mode, type: :select, 
            collection:collection_payment_mode,
            path: bank_account_imported_bel_path(@bank_account, ibel),
            inner_class: 'pc95'
          %td
            =# icon_to 'afficher.png', bank_extract_bank_extract_lines_path(bank_extract) unless bank_extract.bank_extract_lines.empty?
            =# icon_to('modifier.png', edit_bank_account_bank_extract_path(@bank_account,bank_extract)) unless bank_extract.locked?
          =# icon_to('pointer.png', pointage_bank_extract_bank_extract_lines_path(bank_extract)) if bank_extract.first_to_point?
          =# icon_to('supprimer.png', [@bank_account,bank_extract], :confirm => 'Etes vous sur ?', :method => :delete) unless bank_extract.locked?
 