= content_for :menu do
  = icon_to 'nouveau.png', new_importer_bank_account_bels_importer_path(@bank_account)

.champ
  %h3 Banque #{@bank_account.nickname} : Liste des lignes importées

  %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th.pc5.date-euro Date
        %th.pc5 Réf
        %th.pc30 Libellé
        %th.pc10 Activité
        %th.pc10 Nature
        %th.pc10 Dépenses
        %th.pc10 Recettes
        %th.pc10 Support
        %th.actions Actions
    %tbody
      - @imported_bels.each do |bel| 
        %tr
        %td= I18n.l bel.date
        %td
        %td= bel.narration
        %td
        %td
        %td.numeric= debit_credit bel.debit
        %td.numeric= debit_credit bel.credit
        %td
        %td
          =# icon_to 'afficher.png', bank_extract_bank_extract_lines_path(bank_extract) unless bank_extract.bank_extract_lines.empty?
          =# icon_to('modifier.png', edit_bank_account_bank_extract_path(@bank_account,bank_extract)) unless bank_extract.locked?
          =# icon_to('pointer.png', pointage_bank_extract_bank_extract_lines_path(bank_extract)) if bank_extract.first_to_point?
          =# icon_to('supprimer.png', [@bank_account,bank_extract], :confirm => 'Etes vous sur ?', :method => :delete) unless bank_extract.locked?
 