= simple_form_for([:admin, @organism, @mask], :html=> {class: 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title,  input_html: {class: "span3"}
    = f.input :comment,  input_html: {rows: 4, class: "span3"}
    
    =f.fields_for :mask_fields, @book_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Livre', :collection=>@organism.books.in_outs, :prompt=>false, required:true
    =f.fields_for :mask_fields, @ref_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Référence'
    =f.fields_for :mask_fields, @narration_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Narration'
    =f.fields_for :mask_fields, @nature_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Nature', :collection => options_for_mask_natures(@organism),
        :as => :grouped_select, :group_method => :options, :group_label_method=> :title
       
    =f.fields_for :mask_fields, @destination_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Destination', :collection=>@organism.destinations
    =f.fields_for :mask_fields, @amount_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Montant'
    =f.fields_for :mask_fields, @mode_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Mode', :collection=>PAYMENT_MODES
    =f.fields_for :mask_fields, @counterpart_field do |build|
      = build.input :label, as: :hidden
      = build.input :content, :label=>'Contrepartie', 
        :collection => options_for_mask_counterpart(@organism), :as => :grouped_select, :group_method => :options, :group_label_method=> :title
            

  .form-actions
    = f.button :submit, class: "btn-primary span2" 
