= content_for :menu do 

  = icon_to 'nouveau.png', new_admin_organism_mask_path(@organism) 
  = icon_to 'afficher.png', admin_organism_mask_path(@organism,@mask) 
  = icon_to 'retour.png', admin_organism_masks_path(@organism) 
 end -

.champ
  %h3 Modification d'un masque de saisie
  .inner-champ
    = render 'form' 
