= content_for :menu do 

  = icon_to 'nouveau.png', new_admin_organism_mask_path(@organism) 
  = icon_to 'navigation90.png', admin_organism_masks_path(@organism) 
 

.champ
  %h3 Modification d'un masque de saisie
  .inner-champ
    = simple_form_for([:admin, @organism, @mask], :html=> {class: 'form-horizontal'}) do |f|
      = f.error_notification

      .form-inputs
        = f.input :title,  input_html: {class: "span3"}
        = f.input :comment,  input_html: {rows: 4, class: "span3"}

        =f.simple_fields_for :mask_fields, f.object.mask_fields.order(:id) do |build|
          = build.input :label, as: :hidden
          = build.input :content,  sf_options(build.object.label)


      .form-actions
        = f.button :submit, class: "btn-primary span2" 
