= content_for :menu do
  = icon_to 'navigation90.png', admin_organism_masks_path(@organism), title:'Vers la liste des masques de saisie'
  = icon_to 'nouveau.png', new_admin_organism_mask_path(@organism)
  = icon_to 'modifier.png', edit_admin_organism_mask_path(@organism, @mask)
  = icon_to 'supprimer.png', [:admin, @organism, @mask], :method=>:delete, :confirm=>'Etes vous certain ?'
  
.champ
  %h3 Détail du masque de saisie '#{@mask.title}'
.row-fluid.inner-champ
  
  %p
    %b Commentaire :
    = @mask.comment
  %p
    %b Livre :
    = @mask.book.title rescue ''
  %p
    %b Référence :
    = @mask.ref
  %p
    %b Narration :
    = @mask.narration
  %p
    %b Nature :
    = @mask.nature_name
  %p
    %b Destination :
    = @mask.destination.name rescue ''
  %p
    %b Montant :
    = virgule @mask.amount
  %p
    %b Mode :
    = @mask.mode
  %p
    %b Contrepartie :
    = @mask.counterpart
    
  