= content_for :menu do
  = icon_to 'navigation90.png', compta_book_writings_path(@book), :tabindex=>-1


- if @previous_writing
  .alert.notice
    %a.close(data-dismiss="alert")
      x
    %strong
      = "Ecriture n°#{@previous_writing.id} créée : #{l @previous_writing.date} #{@previous_writing.ref} |
        #{@previous_writing.narration} #{debit_credit(@previous_writing.total_credit)}"                  |
      = icon_to 'modifier.png', edit_compta_book_writing_path(@book, @previous_writing)
      = icon_to 'supprimer.png', ['compta', @book, @previous_writing], :method=>:delete, data: {confirm: 'Etes vous sûr ?'} 


.champ
  %h3
    #{@book.title} : Nouvelle écriture
    %span#sold
      Solde :
      %span#sold_value
  .inner-champ
    =render 'form'