<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Compta</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%=  "compta_#{controller.controller_name}" %> compta'>
    <div id="header">
      <div id="logo"><%= link_to 'Faites les comptes !', organisms_path %></div>
       <%= header_organism %>
      <div id="zone_compta">
        <%= link_to 'Public',  ((@organism && !@organism.new_record?) ? organism_path(@organism) : organisms_path )  %>
        <%= link_to 'Administration',  ((@organism && !@organism.new_record?) ? admin_organism_path(@organism) : admin_organisms_path )  %>
      </div>
      
    </div>


  <nav id="menu">
    <%= render 'compta/organisms/menu'%>
    <%= yield :menu %>
  </nav>

   <%= render 'layouts/bandeau' %>


  <%= yield %>
  <%= debug params if Rails.env == 'development' %>
</body>
</html>
