<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Compta</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%=  "compta_#{controller.controller_name}" %> compta' style="padding-top:90px;">
    
    <div class="navbar navbar-fixed-top" role="navigation">
          <%= render 'layouts/navbar' %>
          <%= render 'compta/menus/menu' if user_signed_in? %>
    </div>
    
    <div> 
      <%=  yield :modal %>
    </div>
    
    
    <div class="container-fluid">

     <div id="main-zone">
          <div class='col-lg-12'>
          <%= render 'layouts/flash_partial' %>
          </div>
          <div id="message" class="col-lg-12"></div><%# pour les messages utilisés par produce_pdf.js_erb%> 
         
            <%= yield %>
          
        </div>
      
       <div class ="push"></div>
    </div>

    <%= render 'layouts/bottom_page' %>

  </body>
</html>
