= content_for :menu do
  = icon_to 'retour.png', :back 

.champ
  %h3 Chargement d'une nouvelle nomenclature

  .inner-champ
    .inputs
      = simple_form_for([:admin,@organism, @nomenclature],  :html=> {class: 'form-horizontal', enctype:"multipart/form-data"}) do |f|
        = f.error_notification

        %label{:for=>"file_upload", :class=>"string required control-label"} Nomenclature
        .controls= file_field_tag 'file_upload', class: 'input-file'

        .form-actions= f.button :submit, class: "btn-primary span2"
