<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for [@organism, @period] do |f| %>
  <%= f.error_notification %>


  <div class="inputs">
    <%= f.input(:start_date, :discard_day => true,
      :hint=>'Premier jour du mois de ...' ) %>
    <%= f.input :close_date ,:discard_day => true, :start_year => @begin_year,:end_year=>@end_year,
      :hint=>'Dernier jour du mois de...' %>
  </div>
<div class="actions">
   <%= f.button :submit %>
  </div>

 



<% end %>
