<%= content_for :menu do %>



<% end %>


<fieldset><legend><%= @periods.empty? ? "Aucun exercice" : "Liste des exercices" %></legend>
  <% unless @periods.empty? %>
    <table class="striped">
      <thead>
      <tr>
       
        <th>Début</th>
        <th>Fin</th>
        <th>Statut</th>
       
      </tr>
      </thead>
      <tbody>
      <% @periods.each do |period| %>
        <tr>
          
          <td><%=l period.start_date %></td>
          <td><%=l period.close_date %></td>
          <td><%= period.open? ? 'Ouvert' : 'Fermé' %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>