 <div class="inputs">
<%= simple_form_for([:admin,@organism,@period,@nature],  :html=> {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

   <%= f.input :name , input_html: {class:'span4'} %>
   <%= f.input :comment, input_html: {rows: 4, class: 'span4'} %>
   <%= f.input :income_outcome, :label=>'Type',
         :collection=>[['Recettes', true], ['Dépenses', false]], 
         label_method: :first, value_method: :last, :as=>:inline_radio_buttons %>
   <%= f.association :account, :label=> 'Compte associé', input_html: {size: 10},
                :collection => options_for_natures(@period), :as => :grouped_select, :group_method => :options, :group_label_method=> :name,
                :label_method=> :long_name, :value_method=> :id if @period.accounts.any? %>


   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
   </div>

  <% end %>
  </div>
