<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for([:admin,@organism,@period,@nature]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <div class="input">
     <label>Nature </label>
  <%=  f.collection_radio :income_outcome, [[true, 'Recettes'] ,[false, 'Dépenses']], :first, :last, :label=>'Nature' %>
    </div>
     <%= f.input :name %>
    <%= f.input :comment, input_html: {rows: 4} %>
  

    <%= f.association :account, :collection => @period.accounts.classe_6_and_7.all(:order => 'number'),
      :label_method=>:long_name,:value_method=>:id, :prompt => "Choisissez un compte" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
