 <div class="inputs">
<%= simple_form_for([:admin,@organism,@period,@nature],  :html=> {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

   <%= f.input :name , input_html: {class:'span4'} %>
   <%= f.input :comment, input_html: {rows: 4, class: 'span4'} %>
   <%= f.input :livre  do %>
      <%= f.select :book_id, @books.map{ |b| [b.title, b.id,
          {'data-type'=> b.type, 'data-sector'=>b.sector_id}] } %>
   <% end %>
  
   <%= f.input :account, :label=> 'Compte associé' do %>
     <%=  f.select(:account_id,
       option_groups_from_collection_for_select_with_datas(
       comite_options_for_natures(@period),
       :options, :title,
       :id, :long_name), {include_blank:true}, {size: 10, class:'span4'} ) if @period.accounts.any? %>
   <% end %> 
   <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
   </div>

  <% end %>
  </div>
