<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for([:admin,@organism,@nature]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <div class="input">
     <label>Nature </label>
  <%=  f.collection_radio :income_outcome, [[true, 'Recettes'] ,[false, 'Dépenses']], :first, :last, :label=>'Nature' %>
    </div>
     <%= f.input :name %>
    <%= f.input :comment, input_html: {rows: 4} %>
  
    <%= f.association :accounts, :collection => @period.accounts.classe_7.all(:order => 'number'), :prompt => "Choisissez un compte",
      :wrapper_html=>{:id=>'outcome_select', :style=>"#{@nature.income_outcome ? 'display:normal;' : 'display: none;'}" }  %>
    <%= f.association :accounts, :collection => @period.accounts.classe_6.all(:order => 'number'), :prompt => "Choisissez un compte",
     :wrapper_html=>{:id=>'income_select', :style=>"#{@nature.income_outcome ? 'display:none;' : 'display: normal;'}"} %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
