<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for([:admin,@organism,@period,@nature]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <div class="input">
     <label>Type </label>
  <%=  f.collection_radio :income_outcome, [[true, 'Recettes'] ,[false, 'Dépenses']], :first, :last, :label=>'Nature' %>
    </div>
     <%= f.input :name %>
    <%= f.input :comment, input_html: {rows: 4} %>
  


    <div class="input">
      <%= f.label 'Compte de rattachement' %>
    <%= select_tag  :account,
      grouped_options_for_select([ ['Recettes', options_for_select(@period.accounts.classe_7.collect {|a| [a.long_name, a.id]})],
        ['Dépenses', options_for_select(@period.accounts.classe_6.collect {|a| [a.long_name, a.id]})]]), :prompt=>'Compte de rattachement' %>
    </div>
 
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
