<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for([:admin,@organism,@nature]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
     <label>Nature </label>
  <%=  f.collection_radio :income_outcome, [[true, 'Recettes'] ,[false, 'Dépenses']], :first, :last, :label=>'Nature' %>
     <%= f.input :name %>
    <%= f.input :comment, input_html: {rows: 4} %>
    <%= f.association :accounts, :collection => @period.accounts.classe_6_and_7.all(:order => 'number'), :prompt => "Choisissez un compte" %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
