
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_nature_path(@organism) %>

<% end %>
<fieldset><legend> Liste des natures</legend>


  <h3>Recettes</h3>
<table>
  <tr>
    <th>Nom</th>

    <th>Commentaire</th>
    <th>Rattaché au compte n°</th>
<th>Libellé du compte</th>
    <th></th>
    <th></th>
  </tr>



<% @recettes.each do |nature| %>
  <tr>
    <td><%= nature.name %></td>

    <td><%= nature.comment %></td>
    <td><%= nature.accounts.first.number %> </td>
    <td><%= nature.accounts.first.title %> </td>
    <td><%= icon_to 'modifier.png', edit_admin_organism_nature_path(@organism,nature) %></td>
    <td><%= icon_to 'supprimer.png', [:admin,@organism, nature], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

   <h3>Dépenses</h3>
<table>
  <tr>
    <th>Nom</th>

    <th>Commentaire</th>
   <th>Rattaché au compte n°</th>
    <th>Libellé du compte</th>
    <th></th>
    <th></th>
  </tr>



<% @depenses.each do |nature| %>
  <tr>
    <td><%= nature.name %></td>

    <td><%= nature.comment %></td>
    <td><%= nature.accounts.first.number if nature.accounts.any? %> </td>
    <td><%= nature.accounts.first.title if nature.accounts.any? %> </td>
    <td><%= icon_to 'modifier.png', edit_admin_organism_nature_path(@organism,nature) %></td>
    <td><%= icon_to 'supprimer.png', [:admin,@organism, nature], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


