%tr
  %td.clickable= l line.w_date.to_date 
  %td.clickable= line.w_id
  %td.clickable= line.b_abbreviation
  %td.clickable= line.w_ref
  %td.clickable= line.w_narration
  %td.clickable= line.nat_name
  %td.clickable= line.dest_name
  %td.numeric= debit_credit(line.debit)
  %td.numeric= debit_credit(line.credit)
