%tr
  %td.clickable= l line.date
  %td.clickable= line.writing_id
  %td.clickable= line.book.abbreviation
  %td.clickable= line.ref
  %td.clickable= line.narration
  %td.clickable= line.nature.name if line.nature
  %td.clickable= line.destination.name if line.destination
  %td.numeric= debit_credit(line.debit)
  %td.numeric= debit_credit(line.credit)
