<%= content_for :menu do %>
<%= icon_to 'retour.png', :back %>
<% end %>

<fieldset>
  <legend>
    Ecritures du compte <%= @account.long_name %>
  </legend>



   <div id="submenu">
    <span><%=  link_to_if @period.previous_period?, '<<', previous_organism_period_path(@organism,@period) %></span>
 <%= sub_helper(@account, @period) %>
<span><%= link_to_if @period.next_period? ,'>>', next_organism_period_path(@organism,@period) %></span>

  </div>

  <table class="data_table display">
    <thead>
      <tr>
        <th>Date</th>
        <th>Libellé</th>
        <th>Nature</th>
        <th>Destination</th>
        <th>Débit</th>
        <th>Crédit</th>
      </tr>
    </thead>
    <tbody>
<%= render @lines %>
    </tbody>
    <tfoot>
      <tr class="total" id="totaux">
  <th colspan="4" style="text-align:right" rowspan="1" >
    Totaux:<br/>
    Totaux globaux:
  </th>
  <th id="tdebit" rowspan="1" colspan="1" class="numeric nombre">
    <%=  debit_credit(@total_debit) %><br/>
    <%=  debit_credit(@total_debit+ @solde_debit_avant) %>
  </th>
  <th id="tdcredit" rowspan="1" colspan="1" class="numeric nombre">
    <%=  debit_credit(@total_credit) %><br/>
    <%=  debit_credit(@total_credit+ @solde_credit_avant) %>
  </th>

</tr>
    </tfoot>
  </table>
</fieldset>


