<%= content_for :menu do %>
  <%= icon_to 'retour.png', :back %>
<% end %>

<div class="champ">
  <h3>
    Ecritures du compte <%= @account.long_name %>
  </h3>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed account_lines_table" >
  <thead>
    <tr>
      <th class ="pc5">Date</th>
      <th class ="pc10">Réf</th>
      <th class ="pc25">Libellé</th>
      <th class ="pc20">Nature</th>
      <th class ="pc20">Destination</th>
      <th class ="pc10">Débit</th>
      <th class ="pc10">Crédit</th>
    </tr>
  </thead>
  <tbody>
    <%= render @lines %>
  </tbody>
  <tfoot>
    <tr class="total" id="totaux">
      <th colspan="5" style="text-align:right" rowspan="1" >
        Totaux:<br/>
        Totaux globaux:
      </th>
      <th id="tdebit" rowspan="1" colspan="1" class="numeric nombre">
        <%=  debit_credit(@total_debit) %><br/>
        <%=  debit_credit(@total_debit+ @solde_debit_avant) %>
      </th>
      <th id="tdcredit" rowspan="1" colspan="1" class="numeric nombre">
        <%=  debit_credit(@total_credit) %><br/>
        <%=  debit_credit(@total_credit+ @solde_credit_avant) %>
      </th>

    </tr>
  </tfoot>
</table>



