%li.nav-header.no-link= link_to menu_book.title, '#'
%li
  = link_to_if(menu_book.writings.any?, 'Afficher', compta_book_writings_path(menu_book)) do |name|
    %span.no-link= name
- if menu_book.type == 'OdBook'
  %li= link_to('Ecrire', new_compta_book_writing_path(menu_book))
- if menu_book.type == 'AnBook'
  %li= link_to 'Ecrire', new_compta_book_writing_path(menu_book) unless menu_book.writings.any?
  %li= link_to 'Modifier', edit_compta_book_writing_path(menu_book, menu_book.writings.first) if menu_book.writings.any?