%ul.nav.nav-tabs
  
  %li.dropdown(class="#{controller.controller_name == "organisms" ? "active" : nil}")
    %a{:href=>'#',:tabindex=>-1, :class=>'dropdown-toggle',:data=>{:toggle=>'dropdown'} }
      ORGANISMES
      %b.caret
    %ul.dropdown-menu
      - cache("compta_#{current_user.name}")  do
        -current_user.accountable_organisms_with_room.each do |room|
          %li= link_to room.organism.title, compta_room_path(room), {title:room.organism.comment}


  - unless @period.nil? && @pariod.accounts.nil?
    %li.dropdown(class="#{controller.controller_name == "accounts" ? "active" : nil}")
      %a{:href=>'#',:tabindex=>-1, :class=>'dropdown-toggle', :data=>{:toggle=>'dropdown'} }
        EDITIONS
        %b.caret
      %ul.dropdown-menu
        %li= link_to('Plan comptable', compta_period_accounts_path(@period))
        %li= link_to('Balance', new_compta_period_balance_path(@period))
        %li= link_to('Compte', new_compta_period_listing_path(@period))
        %li= link_to("Grand Livre", new_compta_period_general_book_path(@period))
        %li
          %a#generalajax{href:'#'}(data-period="#{@period.id}")= "#{image_tag('icones/pdf.png')} Journal Général".html_safe 
        

  - unless @period.nil? && @pariod.accounts.nil?
    %li.dropdown(class="#{controller.controller_name == "accounts" ? "active" : nil}")
      %a{:href=>'#',:tabindex=>-1, :class=>'dropdown-toggle', :data=>{:toggle=>'dropdown'} }
        DOCUMENTS
        %b.caret
      %ul.dropdown-menu
        %li= link_to('Bilan', bilans_compta_sheets_path, class:'with_spinner')
        %li= link_to('Résultats', resultats_compta_sheets_path, class:'with_spinner')
        - if @organism.status == 'Association'
          %li= link_to('Bénévolat', benevolats_compta_sheets_path, class:'with_spinner')
        %li= link_to('Liasse', liasse_compta_sheets_path, class:'with_spinner')
        %li= link_to('Détail des comptes', compta_two_periods_balance_path, class:'with_spinner')
        %li= link_to('Liste des documents', compta_nomenclature_path, class:'with_spinner')

  - unless @organism.nil? && @organism.periods.count <= 1
    %li.dropdown(class="#{controller.controller_name == "periods" ? "active" : nil}")
      %a{:href=>'#',:tabindex=>-1, :class=>'dropdown-toggle',  :data=>{:toggle=>'dropdown'} }
        EXERCICES
        %b.caret
      %ul.dropdown-menu
        - @organism.periods.each do |p|
          %li= link_to_unless(current_period?(p), p.exercice, change_admin_organism_period_path(@organism, p)) {|name| content_tag(:span, :class=>'disable') {name} }


  - unless @organism.nil? && @organism.periods.count <= 1
    %li.dropdown(class="#{controller.controller_name == "writings" ? "active" : nil}")
      %a{:href=>'#',:tabindex=>-1, :class=>'dropdown-toggle',  :data=>{:toggle=>'dropdown'} }
        JOURNAUX
        %b.caret
      = content_tag(:ul, :class => "dropdown-menu") do
        = render :partial=>'compta/menus/menu_book', :collection=>@organism.books, :spacer_template=>'menus/divider'
  
  %li.horizontal_icons= yield :menu


