<%= simple_form_for(@compta_account) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :number %>
    <%= f.input :title %>
    <%= f.input :used %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
