<%= content_for :submenu do %>
<%= icon_to 'nouveau.png', new_compta_account_path %>
<% end -%>

<fieldset><legend> Liste des  <%=t compta_accounts %></legend>
<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Used</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compta_accounts.each do |compta_account| %>
  <tr>
    <td><%= compta_account.number %></td>
    <td><%= compta_account.title %></td>
    <td><%= compta_account.used %></td>
    <td><%= icon_to 'afficher.png', compta_account %></td>
    <td><%= icon_to 'modifier.png', edit_compta_account_path(compta_account) %></td>
    <td><%= icon_to 'supprimer.png', compta_account, :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


