<%= content_for :menu do %>

<% end -%>

<fieldset><legend> <%= @organism.title %> - <%= @period.exercice %> -   Liste des Comptes</legend>
<table class="data_table display">
  <thead
  <tr>
    <th>Numéro</th>
    <th>Intitulé</th>
    <th>Utilisé</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<% @compta_accounts.each do |compta_account| %>
  <tr>
    <td><%= compta_account.number.to_s %></td>
    <td><%= compta_account.title %></td>
    <td><%=t_used compta_account %></td>
    <td>
    <%= icon_to 'detail.png', compta_account_lines_path(compta_account) %>
  
    </td>
  </tr>
<% end %>
  </tbody>
</table>

</fieldset>


