<%= content_for :menu do %>
    <%= icon_to 'pdf.png', compta_period_accounts_path(@period,:format=>'pdf'), :id=>'icon_pdf' %>
<% end -%>

<div class="champ">
  <h3>Plan comptable</h3>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">

  <thead
  <tr>
    <th>Numéro</th>
    <th>Intitulé</th>
    <th>Utilisé</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<% @compta_accounts.each do |compta_account| %>
  <tr>
    <td><%= compta_account.number.to_s %></td>
    <td><%= compta_account.title %></td>
    <td><%=t_used compta_account %></td>
    <td>
    <%= icon_to 'afficher.png', new_compta_period_listing_path(@period, :account_id=>compta_account.id) unless compta_account.lines_empty? %>
  
    </td>
  </tr>
<% end %>
  </tbody>
</table>