<%= content_for :menu do %>

<% end -%>

<div class="champ">
<table class="simple_data_table_ascisort display">
  <thead
  <tr>
    <th>Numéro</th>
    <th>Intitulé</th>
    <th>Utilisé</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<% @compta_accounts.each do |compta_account| %>
  <tr>
    <td><%= compta_account.number.to_s %></td>
    <td><%= compta_account.title %></td>
    <td><%=t_used compta_account %></td>
    <td>
    <%= icon_to 'afficher.png', compta_account_lines_path(compta_account) unless compta_account.lines_empty? %>
  
    </td>
  </tr>
<% end %>
  </tbody>
</table>

</div></div>


