-# partial utilisé pour afficher les lignes (les comptes) d'une rubrique
%tr{:class=>'account_detail'}
  %td= account_actif[0]
  %td.numeric= debit_credit account_actif[1]
  %td.numeric= debit_credit account_actif[2]
  %td.numeric= debit_credit account_actif[3]
  %td.numeric= debit_credit account_actif[4]