-# partial pour afficher une rubriks_lines
- values = actif_rubriks_line.totals
%tr{:class=>"depth_#{actif_rubriks_line.depth}" }
  %td= values[0]
  %td.numeric= debit_credit values[1]
  %td.numeric= debit_credit values[2]
  %td.numeric= debit_credit values[3]
  %td.numeric= debit_credit values[4]