%tr.total
  %td Total #{actif_total_line[0]}
  %td.numeric= debit_credit actif_total_line[1]
  %td.numeric= debit_credit actif_total_line[2]
  %td.numeric= debit_credit actif_total_line[3]
  %td.numeric= debit_credit actif_total_line[4]