=content_for :menu do
  = icon_to 'pdf.png', bilan_compta_period_sheets_path(@period, :format=>:pdf)

.champ
  %h3= @actif.title

.test
  %table
    %thead
      %th.span4 Rubrique
      %th.span2 Brut
      %th.span2
        Amortissement
        %br Provision
      %th.span2 Net
      %th.span2 Exercice précédent
    %tbody
      - @actif.collection.each do |tgl|
        = render :partial=>'detailed_actif_line', :collection=>tgl.collection
        = render :partial=>'actif_total_line', :object=>tgl.totals
      = render :partial=>'actif_total_line', :object=>@actif.totals

.champ
  %h3= @passif.title

.test
  %table
    %thead
      %th.span4 Rubrique
      %th.span2 Montant
      %th.span2 Exercice précédent
    %tbody
      - @passif.collection.each do |tgl|
        = render :partial=>'passif_line', :collection=>tgl.lines
        = render :partial=>'passif_total_line', :object=>tgl.totals
      = render :partial=>'passif_total_line', :object=>@passif.totals