<%# utilisé pour afficher les extraits de comptes pointés%>
  <td><%= bank_extract_line.position %></td>
  <td><%=l bank_extract_line.date %></td>
  <td><%= bank_extract_line.narration %></td>
   <td><%= bank_extract_line.payment %></td>
  <td class="numeric"><%= debit_credit bank_extract_line.debit %></td>
  <td class="numeric"><%= debit_credit bank_extract_line.credit %></td>

