- @bank_extract_lines.all.each do |bel|
  %tr{:id=>"#{bel.compta_line_id}", 'class'=> 'bel'}
    %td= l bel.date
    %td= bel.narration
    %td.numeric.debit= debit_credit bel.credit
    %td.numeric.credit= debit_credit bel.debit
    %td= image_tag 'icones/retirer.png', :class=>'transfert'