%tr{:id=>"#{index_standard_bel.id}", 'class'=> 'bel', 'data-position'=>"#{index_standard_bel.position}" }
  %td= index_standard_bel.position
  %td= l index_standard_bel.date
  %td= index_standard_bel.narration
  %td.numeric= debit_credit index_standard_bel.debit
  %td.numeric= debit_credit index_standard_bel.credit

 