- @lines_to_point.list.each do |ltp|
  %tr{'class'=>'ltp', 'id'=>"#{ltp[:nature]}_#{ltp[:id]}" }
    %td -
    %td= l ltp[:date]
    %td= ltp[:narration]
    %td.numeric= debit_credit ltp[:debit]
    %td.numeric= debit_credit ltp[:credit]
    %td
      = icon_to 'ajouter.png', ajoute_bank_extract_bank_extract_lines_path(@bank_extract, nature:ltp[:nature], line_id:ltp[:id]),  |
      :remote=>true, :method => :post

      