- @lines_to_point.lines.each do |ltp|
  %tr{'class'=>'ltp', 'id'=>"#{ltp.id}" }
    %td= l ltp.date
    %td= ltp.narration
    %td.numeric.debit= debit_credit ltp.credit
    %td.numeric.credit= debit_credit ltp.debit
    %td
      %a{href:'#'}=image_tag 'icones/ajouter.png', :class=>'transfert'
      %a= line_actions(ltp)