%tr{:id=>"#{standard_bank_extract_line.id}", 'class'=> 'bel', 'data-position'=>"#{standard_bank_extract_line.position}" }
  %td= standard_bank_extract_line.position
  %td= l standard_bank_extract_line.date
  %td= standard_bank_extract_line.narration
  %td.numeric= debit_credit standard_bank_extract_line.debit
  %td.numeric= debit_credit standard_bank_extract_line.credit

  %td
    = icon_to 'retirer.png', remove_organism_bank_account_bank_extract_bank_extract_line_path(@organism, |
      @bank_account, @bank_extract, standard_bank_extract_line),                                         |
      :remote=>true, :method => :post
    = icon_to 'chain--plus.png', regroup_organism_bank_account_bank_extract_bank_extract_line_path(@organism, |
      @bank_account, @bank_extract, standard_bank_extract_line),:remote=>true,                                |
      :method=>:post, :title=>'Regroupe avec la ligne du dessous' if standard_bank_extract_line.chainable?
    = icon_to 'chain-unchain.png', degroup_organism_bank_account_bank_extract_bank_extract_line_path(@organism, |
      @bank_account, @bank_extract, standard_bank_extract_line),:remote=>true,                                  |
      :method=>:post, :title=>'Dégroupe les lignes' if (standard_bank_extract_line.lines.size > 1)
    = image_tag 'icones/detail.png' ,rel:"popover", 'data-original-title'=> details_title, 'data-content'=>details_for_popover(standard_bank_extract_line) if (standard_bank_extract_line.lines.size > 1)
    
    
    
