%tr{:id=>"#{standard_bank_extract_line.id}", 'data-position'=>"#{standard_bank_extract_line.position}" }
  %td= standard_bank_extract_line.position
  %td= l standard_bank_extract_line.date
  %td= standard_bank_extract_line.narration
  %td.numeric= debit_credit standard_bank_extract_line.debit
  %td.numeric= debit_credit standard_bank_extract_line.credit

  %td
    = icon_to 'supprimer.png', organism_bank_account_bank_extract_bank_extract_line_path(@organism, @bank_account, @bank_extract, standard_bank_extract_line), :confirm => 'Are you sure?', :method => :delete
