= content_for :menu do
  = icon_to 'navigation90.png', bank_account_bank_extracts_path(@bank_account)
  = icon_to 'nouveau.png', new_bank_account_bank_extract_path(@bank_account)
  = icon_to('pointer.png', pointage_bank_extract_bank_extract_lines_path(@bank_extract)) if @bank_extract.first_to_point?
  = icon_to 'verrouiller.png', lock_bank_account_bank_extract_path(@bank_account, @bank_extract), |
    title: 'Verrouiller ce relevé ainsi que toutes les lignes associées', method: 'post',                           |
    data:{confirm:"Cette action verrouillera ce relevé de compte et toutes les lignes qui sont associées.\nConfirmez vous ?"} if  @bank_extract.lockable? 

.champ
  %h3= "#{@bank_account.nickname} : relevé bancaire #{@bank_extract.reference} du #{l @bank_extract.begin_date} au #{l @bank_extract.end_date}"
  .inner-champ
    .row
      %ul
        %li.col-lg-2
          Solde initial :
          = virgule @bank_extract.begin_sold
        %li.col-lg-2
          Total débit :
          %span#total_debit= debit_credit @bank_extract.total_debit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_debit}", id:"img_danger_total_debit") if @bank_extract.diff_debit?
        %li.col-lg-2
          Total crédit :
          %span#total_credit= debit_credit @bank_extract.total_credit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_credit}", id:"img_danger_total_credit") if @bank_extract.diff_credit?
        %li.col-lg-2
          Solde Final :
          = virgule @bank_extract.end_sold
  .col-lg-8
    %table.table.table-striped.table-bordered.table-condensed.dataTable(cellpadding="0" cellspacing="0" border="0")
      %thead
        %tr
          %th Date
          %th Libellé
          %th.numeric Débit
          %th.numeric Crédit


      %tbody
        - @bank_extract_lines.to_a.each do |bel|
          = render(partial:'index_standard_bel', :object=>bel) 
            
