= content_for :menu do
  = icon_to 'navigation90.png', bank_account_bank_extracts_path(@bank_account)
  = icon_to('pointer.png', pointage_bank_extract_bank_extract_lines_path(@bank_extract)) if @bank_extract.first_to_point?
  = icon_to 'verrouiller.png', lock_bank_account_bank_extract_path(@bank_account, @bank_extract), |
    title: 'Verrouiller ce relevé ainsi que toutes les lignes associées', method: 'post',                           |
    confirm:"Cette action verrouillera ce relevé de compte et toutes les lignes qui sont associées.\nConfirmez vous ?" if  @bank_extract.lockable? 

.champ
  %h3= "Relevé bancaire #{@bank_extract.reference} du #{l @bank_extract.begin_date} au #{l @bank_extract.end_date}"
  .inner-champ
    .row-fluid
      %ul
        %li.span2
          Solde initial :
          = debit_credit @bank_extract.begin_sold
        %li.span2.spread
          Total débit :
          %span#total_debit= debit_credit @bank_extract.total_debit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_debit}", id:"img_danger_total_debit") 
        %li.span2
          Total crédit :
          %span#total_credit= debit_credit @bank_extract.total_credit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_credit}", id:"img_danger_total_credit")
        %li.span2
          Solde Final :
          = debit_credit @bank_extract.end_sold
  .row-fluid
    .span8
      
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0" id="bels_table")
        %thead
          %tr
            %th.centered(colspan="6")
              Liste des écritures associées au relevé
          %tr
            %th N°
            %th Date
            %th Libellé
            %th.numeric Débit
            %th.numeric Crédit
            

        %tbody.connectedSortable#bels
          - @bank_extract_lines.all.each do |bel|
            = render(partial:'index_standard_bel', :object=>bel) if bel.is_a? StandardBankExtractLine
            = render(partial:'index_check_deposit_bel', object:bel) if bel.is_a? CheckDepositBankExtractLine

        %tfoot
          %tr
            %th.droite{colspan:3, rowspan:1} Totaux
            %td.numeric#bels_total_debit=  debit_credit @bank_extract.total_lines_debit
            %td.numeric#bels_total_credit=  debit_credit @bank_extract.total_lines_credit
