= content_for :menu do
  = icon_to 'navigation90.png', bank_account_bank_extracts_path(@bank_account)
  = icon_to 'verrouiller.png', lock_bank_account_bank_extract_path(@bank_account, @bank_extract), |
    title: 'Verrouiller ce relevé ainsi que toutes les lignes associées', |
    id:'lock_bank_extract', method:'post', |
    style: ('display: none;' unless @bank_extract.lockable?), |
    confirm:"Cette action verrouillera ce relevé de compte et toutes les lignes qui sont associées.\nConfirmez vous ?" 
  
 
.champ
  %h3= "Relevé bancaire #{@bank_extract.reference} du #{l @bank_extract.begin_date} au #{l @bank_extract.end_date}"
  .inner-champ
    .row-fluid
      %ul
        %li.offset2.span2
          Solde initial :
          %span#begin_sold= debit_credit @bank_extract.begin_sold
        %li.span2.spread
          Total débit :
          %span#total_debit= debit_credit @bank_extract.total_debit
        %li.span2
          Total crédit :
          %span#total_credit= debit_credit @bank_extract.total_credit
        %li.span2
          Solde Final :
          = debit_credit @bank_extract.end_sold
  .row-fluid
    .span6
      
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0" id="bels_table")
        %thead
          %tr
            %th.centered(colspan="6")
              Liste des écritures associées au relevé
          %tr
            %th N°
            %th.date-euro Date
            %th Libellé
            %th
              %ul
                %li Débit
                %li.numeric
                  = image_tag('icones/exclamation.png', rel:'tooltip', title:"Ecart de pointage de #{debit_credit @bank_extract.diff_debit}", id:"img_danger_total_debit")
                  %span#bels_total_debit= debit_credit @bank_extract.total_lines_credit

            %th
              %ul
                %li Crédit
                %li.numeric
                  = image_tag('icones/exclamation.png', rel:'tooltip', title:"Ecart de pointage de #{debit_credit @bank_extract.diff_credit}", id:"img_danger_total_credit")
                  %span#bels_total_credit= debit_credit @bank_extract.total_lines_debit
            %th.actions Actions

        %tbody.connectedSortable#bels
          = render :partial=>'belsbody'

       

    .span6
      
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0" id="ltps_table")
        %thead
          %tr
            %th.centered(colspan="4")
              Liste des écritures non pointées
              %a(data-toggle="modal" href="#modal_form_line")
                =image_tag('icones/nouveau.png')
          %tr
            %th N°
            %th.date-euro Date
            %th Libellé
            %th Dépenses
            %th Recettes
            %th.actions Actions
            
          %tbody.connectedSortable#ltps
            = render :partial=>'ltpsbody'

= render :partial=>'new_line'