= content_for :menu do
  = icon_to 'navigation90.png', organism_bank_account_bank_extracts_path(@organism, @bank_account)
  = icon_to 'stock_lock.png', lock_organism_bank_account_bank_extract_path(@organism,@bank_account, @bank_extract), |
    title: 'Verrouiller ce relevé ainsi que toutes les lignes associées', |
    id:'lock_bank_extract', method:'post', |
    confirm:"Cette action verrouillera ce relevé de compte et toutes les lignes qui sont associées.\nConfirmez vous ?" if  @bank_extract.lockable?
  

.champ
  %h3= "Relevé bancaire #{@bank_extract.reference} du #{l @bank_extract.begin_date} au #{l @bank_extract.end_date}"
  .inner-champ
    .row-fluid
      %ul
        %li.offset2.span2
          Solde initial :
          = debit_credit @bank_extract.begin_sold
        %li.span2.spread
          Total débit :
          %span#total_debit= debit_credit @bank_extract.total_debit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_debit}", id:"img_danger_total_debit") 
        %li.span2
          Total crédit :
          %span#total_credit= debit_credit @bank_extract.total_credit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_credit}", id:"img_danger_total_credit")
        %li.span2
          Solde Final :
          = debit_credit @bank_extract.end_sold
  .row-fluid
    .span7
      
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0" id="bels_table")
        %thead
          %tr
            %th.centered(colspan="6")
              Liste des écritures associées au relevé
          %tr
            %th N°
            %th Date
            %th Libellé
            %th.numeric Débit
            %th.numeric Crédit
            %th Actions

        %tbody.connectedSortable#bels
          = render :partial=>'belsbody'

        %tfoot
          = render :partial=>'belsfoot'

    .span5
      
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0" id="ltps_table")
        %thead
          %tr
            %th.centered(colspan="4")
              Liste des écritures non pointées
          %tr
            %th Date
            %th Libellé
            %th.numeric Débit
            %th.numeric Crédit
            
          %tbody.connectedSortable#ltps
            = render :partial=>'ltpsbody'