= content_for :menu do
  = icon_to 'navigation90.png', organism_bank_account_bank_extracts_path(@organism, @bank_account)
  

.champ
  %h3= "Relevé bancaire #{@bank_extract.reference} du #{l @bank_extract.begin_date} au #{l @bank_extract.end_date}"
  .inner-champ
    .row-fluid
      %ul
        %li.offset2.span2
          Solde initial :
          = debit_credit @bank_extract.begin_sold
        %li.span2.spread
          Total débit :
          = debit_credit @bank_extract.total_debit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_debit}")  if @bank_extract.diff_debit?
        %li.span2
          Total crédit :
          = debit_credit @bank_extract.total_credit
          = image_tag('icones/exclamation.png', title:"Ecart de pointage de #{@bank_extract.diff_credit}") if @bank_extract.diff_credit?
        %li.span2
          Solde Final :
          = debit_credit @bank_extract.end_sold
  .row-fluid
    .span6
      %h4 Liste des écritures associées au relevé
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
        %thead
          %tr
            %th N°
            %th Date
            %th Libellé
            %th.numeric Débit
            %th.numeric Crédit
            %th Actions

        %tbody.connectedSortable#bels
          - @bank_extract_lines.all.each do |bel|
            = render(partial:'standard_bank_extract_line', :object=>bel) if bel.is_a? StandardBankExtractLine
            = render(partial:'check_deposit_bank_extract_line', object:bel) if bel.is_a? CheckDepositBankExtractLine

        %tfoot
          %tr
            %th.droite{colspan:3, rowspan:1} Totaux
            %td.numeric=  debit_credit @bank_extract.total_lines_debit
            %td.numeric=  debit_credit @bank_extract.total_lines_credit
            %td

    .span6
      %h4 Liste des écritures non pointées
      %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
        %thead
          %tr
            %th Date
            %th Libellé
            %th.numeric Débit
            %th.numeric Crédit
            %th Actions
          %tbody
            - @lines_to_point.list.each do |ltp|
              %tr
                %td= l ltp[:date]
                %td= ltp[:narration]
                %td.numeric= debit_credit ltp[:debit]
                %td.numeric= debit_credit ltp[:credit]
                %td