%div#adherent_footer
  
  .total_width
    %ul
      %li= link_to 'Manuels', main_app.bottom_manuals_path, :tabindex=>-1, :title=>'Voir la liste des manuels disponibles'
      &nbsp;-&nbsp;
      %li= link_to 'Nous contacter', main_app.bottom_contact_path, :tabindex=>-1, :title=>'Besoin d\'une assistance ?, la page pour nous contacter'
      &nbsp;-&nbsp;
      %li= link_to 'Crédits', main_app.bottom_credit_path, :tabindex=>-1, :title=>'Liste des sources utilisées pour la réalisation du programme'
      &nbsp;-&nbsp;
      %li= link_to "FaitesLesComptes version #{FLCVERSION}", main_app.bottom_apropos_path, :tabindex=>-1, :title=>'Version et conditions d\'utilisation'