%nav.navbar.navbar-fixed-top{role:"navigation"}
  %div#top_navigation
    .home
      %ul.nav.nav-pills.pull-right#upper-menu
        %li{:class=> active_inactive('adherent')}= link_to('ADHERENTS',
          adherent.members_path) 
        %li{:class=> active_inactive('compta')}= link_to('COMPTA',
          main_app.organism_path(@organism), title:'Vers le module de comptabilité')
      = link_to header_title, main_app.organism_path(@organism),
        :tabindex=>-1, id:'home', class:'with_spinner'
      = render 'layouts/login_logout'
  %div#main_nav
    %ul.nav.nav-tabs#menu_general
      -# pas très bien nommé, la suite affiche les icones
      %li.horizontal_icons
        = yield :menu