
<%= content_for :menu do %>
  <% @organism.listings.reject!{|l| l==@listing}.each do  |m| %>
    <%=  link_to m.title, listing_lines_path(m) %>
  <% end %>
  <%= icon_to 'navigation90.png', organism_listings_path(@organism), title: 'Liste des livres' %>

<% end -%>

<%= content_for :submenu do %>
  <%= icon_to 'nouveau.png', new_listing_multiple_line_path(@listing), title: 'Ajouter une écriture multiple' %>
<% end %>
<fieldset>
  <legend>
     Liste des écritures multiples du journal <%= @listing.title %>
  </legend>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Premier montant</th>
      <th>Dernier montant</th>
      <th>Narration</th>
      <th>Destination</th>
      <th>Nature</th>
      <th>Débit</th>
      <th>Credit</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @t.each do |ml| %>
    <tr>
      <td class="nombre"><%=  ml[:nombre] %></td>
      <td class="date"><%=l ml[:first_date] %></td>
      <td class="date"><%=l ml[:last_date] %></td>
      <td><%= ml[:narration] %></td>
      <td><%= ml[:destination] %></td>
      <td><%= ml[:nature] %></td>
      <td class="nombre"><%= two_decimals ml[:debit] %></td>
      <td class="nombre"><%= two_decimals ml[:credit] %></td>
      <td class="nombre"><%= two_decimals ml[:total] %></td>
      <td> <%= icon_to 'detail.png', listing_multiple_line_path(@listing,ml[:copied_id]) %></td>
      <td> <%= icon_to 'modifier.png', edit_listing_multiple_line_path(@listing,ml[:copied_id]) %></td>
      <td> <%= icon_to 'supprimer.png', { :controller => "multiple_lines", :action => "destroy", :listing_id =>@listing.id,
  id: ml[:copied_id]} , :confirm => 'Etes vous sur ?', :method => :delete  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</fieldset>