
<%= content_for :menu do %>
  <% @organism.books.reject!{|l| l==@book}.each do  |m| %>
    <%=  link_to m.title, book_lines_path(m) %>
  <% end %>
  <%= icon_to 'navigation90.png', organism_books_path(@organism), title: 'Liste des livres' %>

<% end -%>

<%= content_for :submenu do %>
  <%= icon_to 'nouveau.png', new_book_multiple_line_path(@book), title: 'Ajouter une écriture multiple' %>
<% end %>
<div class="champ">
  <h3>
     Liste des écritures multiples du journal <%= @book.title %>
  </h3><div class="inner-champ">

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Premier montant</th>
      <th>Dernier montant</th>
      <th>Narration</th>
      <th>Destination</th>
      <th>Nature</th>
      <th>Débit</th>
      <th>Credit</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @t.each do |ml| %>
    <tr>
      <td class="nombre"><%=  ml[:nombre] %></td>
      <td class="date"><%=l ml[:first_date] %></td>
      <td class="date"><%=l ml[:last_date] %></td>
      <td><%= ml[:narration] %></td>
      <td><%= ml[:destination] %></td>
      <td><%= ml[:nature] %></td>
      <td class="nombre"><%= two_decimals ml[:debit] %></td>
      <td class="nombre"><%= two_decimals ml[:credit] %></td>
      <td class="nombre"><%= two_decimals ml[:total] %></td>
      <td> <%= icon_to 'detail.png', book_multiple_line_path(@book,ml[:copied_id]) %></td>
      <td> <%= icon_to 'modifier.png', edit_book_multiple_line_path(@book,ml[:copied_id]) %></td>
      <td> <%= icon_to 'supprimer.png', { :controller => "multiple_lines", :action => "destroy", :book_id =>@book.id,
  id: ml[:copied_id]} , :confirm => 'Etes vous sur ?', :method => :delete  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div></div>