<%  SimpleForm.wrapper_tag = :span %>

<%= simple_form_for([@bank_account, @check_deposit]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <label>Date :</label>
     <%= picker_date :pick_date, Date.today.years_ago(5), Date.today.years_since(5) , @check_deposit.deposit_date %>
    <%# f.input :deposit_date, value: Date.today , label: false %>
    Compte bancaire : 
    <%= f.association :bank_account, :collection => @organism.bank_accounts.map {|b| [b.number, b.id]}, :prompt => "Numero de compte ?", :label=>false %>
  

  
    <%= f.button :submit, value: 'Tout remettre' %>
     <%= f.button :submit, value: 'Choisir les chèques à remettre' %>
    </div>
  <% end %>
