<div class="inputs" id="new_check_deposit" >

<%= simple_form_for([@organism, @bank_account, @check_deposit], html:{class:'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :deposit_date_picker, :label=> 'Date', input_html: {class: 'span2', date_min:Date.today.years_ago(5), date_max:Date.today.years_since(5)} ,:required => true, :as=>:date_picker %>

  

          <%= f.association :checks,
              input_html: {:class=> "span4"},
              :collection => CheckDeposit.pending_checks.map {|c| [c.check_for_select, c.id]},
              :prompt => 'Chèques à remettre', :label=> 'Chèques' %>
    
   
       <div class="form-actions">
          
             <%=  f.button :submit, :id=>'new_check_deposit_button', :class=> "btn-primary span2" %>
        
       </div>
    
   

   <% end %>
</div>

