<div class="inputs" id="edit_check_deposit" >

<%= simple_form_for([@organism, @bank_account, @check_deposit], html:{class:'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :deposit_date_picker, :label=> 'Date', input_html: {class: 'span2', date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>

  <%= f.association :bank_account,
              input_html: {:class=> "span2"},
              :collection => @organism.bank_accounts.map {|b| [b.nickname, b.id]},
              :prompt => "Numero de compte ?", :label=>'Compte' %>
  <%= f.association :checks, :label=> 'Chèques', input_html: {class: "span4", multiple: true, size: 10},
              :collection => options_for_checks(@check_deposit, @sector), :as => :grouped_select, :group_method => :checks, :group_label_method=> :name,
              :label_method=> :label, :value_method=> :id %>


       <div class="form-actions">

             <%=  f.button :submit, :id=>'edit_check_deposit_button', :class=> "btn-primary span2" %>

       </div>



   <% end %>
</div>


