<%  SimpleForm.wrapper_tag = :div %>

<%= simple_form_for([@organism, @bank_account, @check_deposit]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
   
    <label>Date</label>
     <%= picker_date :pick_date, Date.today.years_ago(5), Date.today.years_since(5) , @check_deposit.deposit_date %>
   
    
    <%= f.association :bank_account, :collection => @organism.bank_accounts.map {|b| [b.number, b.id]}, :prompt => "Numero de compte ?", :label=>'Compte' %>
  

   <%= f.association :checks, :collection => @organism.lines.non_depose.map {|c| [c.check_for_select, c.id]},
      :prompt => 'Chèques à remettre', :label=> 'Chèques' , :input_html=> {size: 10 }, :hint=>'Au moins un chèque' %>


    <%= f.button :submit, value: 'Valider' %>

    </div>
  <% end %>
