 <tbody id="table_lines">
    <%  tbody.each do |line |%>
      <tr>
      <td class="clickable"><%=l line.line_date %></td>
          <td class="clickable"><%= line.narration %></td>

          <td class="clickable"><%= line.destination.name if line.destination %></td>

          <td class="numeric clickable"><%= debit_credit(line.credit) %></td>
          <td><%= button_for_check(line) %></td>
           
      </tr>
    <% end %>
  </tbody>
