<%= content_for :submenu do %>


  <%= icon_to 'navigation90.png',[@bank_account, @check_deposit] %>
<% end -%>

<fieldset>
  <legend>
    Sélection des chèques à remettre
  </legend>

  <%= render 'title' %>

  <table class="data_table display"  id="check_added">
   <thead>
    <%= render 'thead' %>
    
  </thead>
 
     <tbody id="added_body">
  <%= render partial: 'tbodyadded', :object=>@check_deposit.checks.all  %>
     </tbody>
  <%= render partial: 'tfoot', :object=>@total_checks_credit %>

</table>
</fieldset>

<h3>Sélection des chèques à remettre</h3>


<table class="data_table display" id="check_not_added">
  <%= render 'thead' %>
  <tbody id="not_added_body">
  <%= render partial: 'tbodynotadded', :object=>@lines  %>
  </tbody>
   <%= render partial: 'tfoot', :object=>@total_lines_credit %>
 
</table>