<%= content_for :submenu do %>

  <%= icon_to 'retour.png', :back %>
<% end -%>

<fieldset>
  <legend>
    Sélection des chèques à remettre
  </legend>

  <h3>Date : <%=l @check_deposit.deposit_date %> - Compte : <% @bank_account.bank %> - <%= @bank_account.number %></h3>

  <table class="data_table display"  id="check_added">
 <%= render 'thead' %>
     <tbody>
  <%= render partial: 'tbodyadded', :object=>@checks.all  %>
     </tbody>
  <%= render partial: 'tfoot', :object=>@total_checks_credit %>

</table>
</fieldset>

<h3>Sélection des chèques à remettre</h3>


<table class="data_table display" id="check_not_added">
  <%= render 'thead' %>
   <tbody>
  <%= render partial: 'tbodynotadded', :object=>@lines  %>
   </tbody>
   <%= render partial: 'tfoot', :object=>@total_lines_credit %>
 
</table>