<%= content_for :submenu do %>

  <%= icon_to 'retour.png', :back %>
<% end -%>

<fieldset>
  <legend>
    Sélection des chèques à remettre
  </legend>

  <h3>Date : <%=l @check_deposit.deposit_date %> - Compte : <% @bank_account.bank %> - <%= @bank_account.number %></h3>

  <% if @checks.any? %>

  <table class="data_table display">
 <%= render 'thead' %>
  <%= render partial: 'tbody', :object=>@checks unless @checks.empty? %>
  <%= render partial: 'tfoot', :object=>@total_checks_credit %>
</table>

<% end %>
</fieldset>

<h3>Sélection des chèques à remettre</h3>


<table class="data_table display">
  <%= render 'thead' %>
  <%= render partial: 'tbody', :object=>@lines unless @lines.empty? %>
   <%= render partial: 'tfoot', :object=>@total_lines_credit %>
 
</table>