<%= content_for :menu do %>

<%= icon_to 'navigation90.png',:back %>
<%= icon_to 'nouveau.png', new_bank_account_check_deposit_path(@bank_account) if (@nb_to_pick && @nb_to_pick > 0)  %>
<% end -%>

<fieldset><legend> Banque <%= @bank_account.to_s %> - Liste des remises de chèques </legend>
<table>
  <thead>
  <tr>
   
    <th>Compte numéro</th>
    <th>Date de la remise</th>
    <th>Nb chèques</th>
    <th>Montant total</th>
    <th colspan="3">Actions</th>
    
   
  </tr>
  </thead>
  <tbody>
<% @check_deposits.each do |check_deposit| %>
  <tr>
    
    <td><%= check_deposit.bank_account.number %></td>
    <td><%=l check_deposit.deposit_date %></td>
    <td class="numeric"><%= check_deposit.checks.size %></td>
    <td class="numeric"><%= debit_credit check_deposit.checks.sum(:credit) %></td>
    <td><%= icon_to 'afficher.png', bank_account_check_deposit_path(@bank_account, check_deposit) %></td>
    <td><%= icon_to 'modifier.png', edit_bank_account_check_deposit_path(@bank_account, check_deposit) unless check_deposit.bank_extract_line %></td>
    <td> <%= icon_to 'supprimer.png', [@bank_account, check_deposit],
                :confirm => 'Etes vous sur ?', :method => :delete unless check_deposit.bank_extract_line  %></td>
  </tr>
<% end %>
  </tbody>
</table>

</fieldset>


