= content_for :menu do
  = icon_to 'navigation90.png',:back
  = icon_to 'nouveau.png', new_organism_bank_account_check_deposit_path(@organism, @bank_account) if (@nb_to_pick && @nb_to_pick > 0)

.champ
  %h3
    = "Banque compte n°#{@bank_account.number} : liste des remises de chèques" 
  .pc60
    %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
      %thead
        %tr
          %th.pc15 Compte numéro
          %th.pc15 Date de la remise
          %th.pc10 Nb chèques
          %th.pc15 Montant total
          %th.pc10 Actions
      %tbody
        - @check_deposits.each do |check_deposit|
          %tr
            %td= check_deposit.bank_account.number
            %td= l check_deposit.deposit_date
            %td.numeric= check_deposit.checks.size
            %td.numeric= debit_credit check_deposit.total_checks
            %td
              %span= icon_to 'afficher.png', organism_bank_account_check_deposit_path(@organism, @bank_account, check_deposit)
              %span= icon_to 'modifier.png', edit_organism_bank_account_check_deposit_path(@organism, @bank_account, check_deposit) unless check_deposit.pointed?
              %span= icon_to 'supprimer.png', [@organism, @bank_account, check_deposit],
                :confirm => 'Etes vous sur ?', :method => :delete unless check_deposit.pointed?


