= content_for :menu do
  = icon_to 'navigation90.png',:back
  = icon_to 'nouveau.png', new_organism_bank_account_check_deposit_path(@organism, @bank_account) if (@nb_to_pick && @nb_to_pick > 0)

.champ
  %h3
    = "Banque compte n°#{@bank_account.number} : liste des remises de chèques" 
  
  %table.table.table-striped.table-bordered.table-condensed.data_table(cellpadding="0" cellspacing="0" border="0")
    %thead
      %tr
        %th.span2 Compte numéro
        %th.span2 Date de la remise
        %th.span1.numeric Nb chèques
        %th.span2.numeric Montant total
        %th.span2 Actions
    %tbody
      - @check_deposits.each do |check_deposit|
        %tr
          %td= check_deposit.bank_account.number
          %td= l check_deposit.deposit_date
          %td.numeric= check_deposit.checks.size
          %td.numeric= debit_credit check_deposit.checks.sum(:credit)
          %td
            %span= icon_to 'afficher.png', organism_bank_account_check_deposit_path(@organism, @bank_account, check_deposit)
            %span= icon_to 'modifier.png', edit_organism_bank_account_check_deposit_path(@organism, @bank_account, check_deposit) unless check_deposit.bank_extract_line
            %span= icon_to 'supprimer.png', [@organism, @bank_account, check_deposit],
              :confirm => 'Etes vous sur ?', :method => :delete unless check_deposit.bank_extract_line


