<%= content_for :submenu do %>

<%= icon_to 'retour.png', :back %>
<% end -%>

<fieldset>
  <legend>
    Nouvelle remise de chèques
  </legend>
<%= render 'form' %>

<h3>Chèques inclus dans la remise de chèques</h3>
<table  class="" id="check_not_added">
  <%= render 'thead' %>
  <tbody id="not_added_body">
      <%= render partial: 'tbodyadded', object: @check_deposit.target_checks %>
  </tbody>
   <%= render partial: 'tfoot', :object=>@check_deposit.total_checks %>

</table>
</fieldset>
<h3>Chèques disponibles pour remises à l'encaissement</h3>
<table  id="check_to_add">
  <%= render 'thead' %>
  <tbody id="to_add_body">

     <%  @check_deposit.tank_checks do |check |%>
      <tr>
      <%= render partial: 'line', object: check %>
      </tr>
    <% end %>

  </tbody>
   <%= render partial: 'tfoot', :object=>@check_deposit.tank_checks.sum(&:credit) %>

</table>