
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_organism_bank_account_check_deposit_path(@organism, @bank_account) if @nb_to_pick > 0 %>
<%= icon_to 'modifier.png', edit_organism_bank_account_check_deposit_path(@organism, @bank_account,@check_deposit) %>
<%= icon_to 'navigation90.png', organism_bank_account_check_deposits_path(@organism, @bank_account) %>
<% end -%>

<div class="champ">
 <%= render 'title' %>

   <table   id="check_added">
 <%= render 'thead' %>
     <tbody>
           <%  @check_deposit.checks.each do |check |%>
      <tr>
     <%= render partial: 'line', object: check %>
      </tr>
    <% end %>

     </tbody>
  <%= render partial: 'tfoot', :object=>@check_deposit.total_checks %>

</table>

</div>

