
<%= content_for :submenu do %>

<%= icon_to 'nouveau.png', new_bank_account_check_deposit_path(@bank_account) %>
<%= icon_to 'modifier.png', edit_bank_account_check_deposit_path(@bank_account,@check_deposit) %>
<%= icon_to 'navigation90.png', bank_account_check_deposits_path(@bank_account) %>
<% end -%>
<fieldset><legend>Remise de chèques</legend>
 <%= render 'title' %>

   <table class="data_table display"  id="check_added">
 <%= render 'thead' %>
     <tbody>
           <%  @check_deposit.lines.each do |line |%>
      <tr>
     <%= render partial: 'line', object: line %>
      </tr>
    <% end %>

     </tbody>
  <%= render partial: 'tfoot', :object=>@check_deposit.total %>

</table>

</fieldset>

