

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
 
  <td class="list_description" >
    <dl>
      <dt><%= book.title %></dt>
      <dd><%= truncate(strip_tags(book.description), length: 80)  %></dd>
    </dl>
  </td>
  <td class="list_actions">
    <%= icon_to 'afficher.png', book_lines_path(book, :mois=>@period.guess_month) %> <br/>
    <%= icon_to 'nouveau.png', new_book_line_path(book), title: 'Ecrire une nouvelle ligne' %><br/>
    <%= icon_to 'modifier.png', edit_organism_book_path(@organism, book) %><br/>
    <%= icon_to 'supprimer.png', organism_book_path(@organism, book), confirm: 'Are you sure?', method: :delete %><br/>
   
  </td>
 
  </tr>
