

<%= content_for :menu do %>
<%= render 'organisms/menu' %>

<%= icon_to 'nouveau.png', new_organism_book_path(@organism) %>
<%= icon_to 'navigation90.png', @organism %>
<% end %>

<fieldset>
  <legend>
    Liste des livres
  </legend>



<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
   
  </tr>

<%= render @books %>
</table>

</fieldset>


