<%= content_for :menu do %>



<%= icon_to 'retour.png', organism_books_path(@organism) %>

<% end -%>
<fieldset>
  <legend><%= @organism.title %> - <%= @organism.description %></legend>

 <%= image_tag(@book.image_url, class: 'list_image') %>
 <%= @book.title %>
</fieldset>
<p><%=  link_to 'Nouvelle ligne', new_book_line_path(@book) %></p>
<p>Ici il y aura donc la liste des écritures*</p>

