<%= content_for :menu do %>



<%= icon_to 'retour.png', organism_books_path(@organism) %>

<% end -%>
<div class="champ">
  <h3><%= @organism.title %> - <%= @organism.description %></h3><div class="inner-champ">

 
 <%= @book.title %>
</div></div>

