= content_for :menu do
  = icon_to 'retour.png', :back

.champ
  %h3 Les guides
.inner-champ
  %ul
    %li
      = link_to 'Guide rapide de prise en main' , 'http://faiteslescomptes.fr/images/sources_pdf/guide_rapide.pdf'
      &nbsp;: Ce guide vous présente l'usage général du logiciel à partir du cas pratique
      d'une petite association sportive. De la création de l'organisme, jusqu'aux opérations de clôture.
    %li
      = link_to 'Guide de référence', 'http://faiteslescomptes.fr/images/sources_pdf/FaitesLesComptes_reference.pdf'
      &nbsp;: Passe en revue l'ensemble des menus et des actions du logiciel.
  %p
    Le site
    = link_to ' faiteslescomptes ', 'http://faiteslescomptes.fr'
    propose egalement des fiches techniques, par exemple sur la façon d'organiser sa comptabilité ou encore sur
    les opérations de clôture. N'hésitez pas à le
    =link_to ' consulter.', 'http://faiteslescomptes.fr', title:'aller sur le site de faiteslescomptes.fr'
  %p
    Enfin, vous pouvez toujours nous contacter à
    = mail_to 'expert', 'expert@faiteslescomptes.fr'
