= content_for :menu do
  = icon_to 'retour.png', :back

.champ
  %h3 Les guides
.inner-champ
  %ul
    %li
      = link_to 'Démarrer en 5 étapes', 'http://faiteslescomptes.fr/images/sources_pdf/FLC_demarrage_rapide'
      &nbsp;: Pour être opérationnel le plus rapidement possible.
    %li
      = link_to 'Exemple concret' , 'http://faiteslescomptes.fr/images/sources_pdf/FLC_exemple_concret.pdf'
      &nbsp;: Ce guide vous présente l'usage général du logiciel à partir du cas pratique
      d'une petite association sportive. De la création de l'organisme, jusqu'aux opérations de clôture.
    %li
      = link_to 'Guide de référence', 'http://faiteslescomptes.fr/images/sources_pdf/Manuel.pdf'
      &nbsp;: Passe en revue l'ensemble des menus et des actions du logiciel.
    %li
      = link_to 'Additif Adhérent', 'http://faiteslescomptes.fr/images/sources_pdf/guide_reference_module_adherent.pdf'
      &nbsp;: Pour découvrir les fonctionnalités du module Adhérents (présent si vous êtes une association) et le lien
      avec la comptabilité.
  %p
    Le site
    = link_to ' faiteslescomptes ', 'http://faiteslescomptes.fr'
    propose egalement des fiches techniques, par exemple sur la façon d'organiser sa comptabilité ou encore sur
    les opérations de clôture. N'hésitez pas à le
    =link_to ' consulter.', 'http://faiteslescomptes.fr', title:'aller sur le site de faiteslescomptes.fr'
  %p
    Enfin, vous pouvez toujours nous contacter à
    = mail_to 'expert', 'expert@faiteslescomptes.fr'
