<%= content_for :submenu do %>
<%= icon_to 'nouveau.png', new_organism_bank_account_path(@organism) %>
<% end -%>

<fieldset><legend> Liste des comptes bancaires </legend>
<table class="data_table display">
  <thead>
  <tr>
    <th>Banque</th>
    <th>Numéro</th>
    
    <th>Commentaire</th>
    <th>Adresse</th>
  
    <th></th>
    <th></th>
   
    
  </tr>
  </thead>
  <tbody>
<% @bank_accounts.each do |bank_account| %>
  <tr>
    <td><%= bank_account.name %></td>
    <td><%= bank_account.number %></td>
    
    <td><%= bank_account.comment %></td>
    <td><%= bank_account.address %></td>
  
    
    <td><%= icon_to 'afficher.png', organism_bank_account_bank_extracts_path(@organism, bank_account) %></td>
    <td><%= link_to 'Remise chq', new_bank_account_check_deposit_path(bank_account) %></td>
    
    
  </tr>
<% end %>
  </tbody>
</table>

</fieldset>


