
<%= content_for :submenu do %>

<%= icon_to 'nouveau.png', new_organism_bank_account_path %>
<%= icon_to 'modifier.png', edit_organism_bank_account_path(@bank_account) %>
<%= icon_to 'retour.png', :back %>
<%= icon_to 'supprimer.png',[@organism,bank_account], :confirm => 'Etes vous sur ?', :method => :delete %>

<% end -%>
<fieldset><legend>Informations sur un compte bancaire</legend>

  <p>
  <b>Banque:</b>
  <%= @bank_account.bank %>
</p>


<p>
  <b>Numéro:</b>
  <%= @bank_account.number %>
</p>


<p>
  <b>Commentaire:</b>
  <%= @bank_account.comment %>
</p>

<p>
  <b>Adresse:</b>
  <%= @bank_account.address %>
</p>

<p>
  <b>Ouvert le:</b>
  <%=l @bank_account.opened_at %>
</p>



</fieldset>

