
<%= content_for :menu do %>


<%= icon_to 'retour.png', :back %>


<% end -%>
<div class="champ">

  <p>
  <b>Banque:</b>
  <%= @bank_account.name %>
</p>


<p>
  <b>Numéro:</b>
  <%= @bank_account.number %>
</p>


<p>
  <b>Commentaire:</b>
  <%= @bank_account.comment %>
</p>

<p>
  <b>Adresse:</b>
  <%= @bank_account.address %>
</p>




</div></div>

