<div class="panel-body">

<%= simple_form_for @anabal,
  url:compta_period_analytical_balance_path(@period),
  html:{class: 'form-inline'},
  wrapper: :inline_form do |anabal_f| %>
 
    
     <%= anabal_f.error_notification %>
    <div class='form-inputs col-lg-12'>
      
    <%= anabal_f.input :from_date_picker,
          wrapper_html:{class:'col-lg-3'},
          input_html: {date_min:@period.start_date,
          date_max:@period.close_date},
          :required => true, :as=>:date_picker %>
     
    <%= anabal_f.input :to_date_picker,
          wrapper_html:{class:'col-lg-3'},
          input_html: {date_min:@period.start_date,
          date_max:@period.close_date},
          :required => true, :as=>:date_picker %>
      
      </div>
     
 <div class="form-actions col-lg-12">
         
  <%=  anabal_f.button :submit, 'Afficher',
    id: 'new_anabal_button',
    class: "btn-primary col-lg-2  with_spinner" %>
 </div>
       
<% end %>
</div>