= content_for :menu do
  = icon_to  'retour.png', :back

.champ
  %h3 Modification du commentaire de la sauvegarde
  .inner-champ.row-fluid
    = simple_form_for [:admin , @organism, @archive], :html=> {class: 'form-horizontal'} do |f|
      = f.input :comment ,  input_html: {class: "span6"}
      .form-actions= f.button :submit, id: 'edit_archive_button', class: "btn-primary span3"


