<%  SimpleForm.wrapper_tag = :p %>
<%= simple_form_for [:admin,@organism,@bank_account] do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :number %>
    
    <%= f.input :comment , input_html: {rows: 4} %>
    <%= f.input :address, input_html: {rows: 4}%>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
