<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_admin_organism_bank_account_path(@organism) %>
<% end -%>

<div class="champ">
  <h3>Liste des comptes bancaires</h3>
<table class="table table-striped table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th>Banque</th>
    <th>Numéro</th>
    <th>Surnom</th>
    <th>Commentaire</th>
    
    <th>Compte de rattach.</th>
    <th>Créé le</th>
    <th>Modifié le</th>
    
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<% @bank_accounts.each do |bank_account| %>
  <tr>
    <td><%= bank_account.bank_name %></td>
    <td><%= bank_account.number %></td>
    <td><%= bank_account.nickname %></td>
    <td><%= bank_account.comment %></td>
    
    <td><%= bank_account.accounts.first.number %></td>
    <td><%= l bank_account.created_at %></td>
    <td><%= l bank_account.updated_at %></td>
    <td>
      <%= icon_to 'modifier.png', edit_admin_organism_bank_account_path(@organism, bank_account),
      :id=>"icon_modifier_bank_account_#{bank_account.id}" %>
    </td>
  
    
  
    
  </tr>
<% end %>
  </tbody>
</table>

</div>


