<%= content_for :menu  do %>
  <%= icon_to 'navigation90.png', listing_bank_extracts_path(@listing), :title=>'Retour vers la liste des extraits' %>
<% end %>

<%= content_for :submenu do %>
  
<%= link_to 'Essai de fenetre popup pour créer une nouvelle ligne',
          new_listing_line_path(@listing) ,
          onclick: "window.open(this.href,'create_company', 'height=600, width=600');return false;" %>
<% end %>
<fieldset>
  <legend>
    Pointage de l'extrait <%= @bank_extract.reference %>
  </legend>
  <table>
    <tr> <%= render 'bank_extracts/table_header' %>
      <th>
<%= icon_to  'verrouiller.png', lock_listing_bank_extract_path(@listing,@bank_extract), :id=>'verrouiller', :method=>:post %>
      </th>
    </tr>
    <tr> <%= render @bank_extract %><td></td>  </tr>
    <tr> <%= render 'pointed_lines_header' %><td></td></tr>
  </table>
</fieldset>
<table>
  <thead>
     <tr>
        <%= render 'lines/table_header'  %>
       <th></th>
     </tr>
  </thead>

  <tbody>
    <% unless @lines.empty? %>
     
      <%  @lines.each do |line | %>

            <% if line.pointed? %>
     <tr class='pointed' id='<%= "tr_line_#{line.id}" %>'  >        <%= render partial: 'pointedline', :object=> line %></tr>
            <% else %>
    <tr class='not_pointed' id='<%= "tr_line_#{line.id}" %>'  >     <%= render partial: 'unpointedline', :object=> line %></tr>
            <% end %>
      
      
      <% end %>
    <% end %>
  </tbody>

</table>
