%p Date pièce justificative : #{l @in_out_writing.date_piece}
%p Compte mouvementé : #{@account.number} #{@account.title}
%p Compte financier mouvementé : #{@counter_account.number} #{@counter_account.title}
%p Date et heure de création : #{l @in_out_writing.created_at}
%p Dernière modification : #{l @in_out_writing.updated_at if @in_out_writing.updated_at}
%p Auteur : #{@author.name if @author}
%p Date de verrouillage : #{l @in_out_writing.locked_at if @in_out_writing.locked_at}
%p Numéro continu pour FEC :  #{@in_out_writing.continuous_id}
