%tr#line{id:frontline["clid"]}
  %td= l frontline["date"].to_date
  %td= frontline["id"]
  %td= frontline["ref"]
  %td= frontline["narration"]
  %td= frontline["nname"]
  %td= frontline["dname"] 
  %td.numeric= debit_credit(frontline["debit"])
  %td.numeric= debit_credit(frontline["credit"])
  %td= frontline["pay_mode"]
  %td= frontline["acc_title"]
  %td Bonjour 
  =# in_out_line_actions(frontline)