= content_for :menu do
  = icon_to 'retour.png', :back

.champ
  %h3
    =  "#{@book.title.capitalize} : modification de ligne n° #{@in_out_writing.piece_number}" 
    
= render 'in_out_writings/form'

