= content_for :menu do
  = icon_to 'retour.png', book_lines_path(@book)

.champ
  %h3
    =  "#{@book.title.capitalize} : modification de ligne n° #{@in_out_writing.id}" 
    
= render 'in_out_writings/form'

