

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Libellé</Data></Cell>
        <Cell><Data ss:Type="String">Destination</Data></Cell>
        <Cell><Data ss:Type="String">Nature</Data></Cell>
         <Cell><Data ss:Type="String">Débit</Data></Cell>
          <Cell><Data ss:Type="String">Crédit</Data></Cell>
           <Cell><Data ss:Type="String">Paiement</Data></Cell>
      </Row>
    <% @monthly_extract.lines.each do |line| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= I18n::l(line.line_date) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= line.ref %></Data></Cell>
        <Cell><Data ss:Type="String"><%= line.narration %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= "#{line.destination_name}" %></Data></Cell>
         <Cell><Data ss:Type="Number"><%=  "#{line.nature_name}" %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sprintf('%0.02f',line.debit.to_s).gsub('.', ',') %></Data></Cell>
           <Cell><Data ss:Type="Number"><%= sprintf('%0.02f',line.credit.to_s).gsub('.', ',') %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= "#{line.payment_mode}" %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>



