= content_for :menu do
  = icon_to 'navigation90.png', book_in_out_writings_path(@book, mois:@mois, an:@an), title:'Affichage des écritures'

= render 'in_out_writings/previous_line'

.champ
  %h3= "#{@book.title.capitalize} : nouvelle ligne"

= render 'in_out_writings/form'