<%= simple_form_for(@nature) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :organism_id %>
    <%= f.input :comment %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
