<%= content_for :bandeau do %>
<%= icon_to 'nouveau.png', new_organism_nature_path(@organism) %>
<% end -%>

<fieldset><legend> Liste des natures pour <%= link_to @organism.title, organism_path(@organism) %></legend>
<table>
  <tr>
    <th>Nom</th>
    
    <th>Commentaire</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @natures.each do |nature| %>
  <tr>
    <td><%= nature.name %></td>
    
    <td><%= nature.comment %></td>
    <td><%= icon_to 'afficher.png', [@organism,nature] %></td>
    <td><%= icon_to 'modifier.png', edit_organism_nature_path(@organism,nature) %></td>
    <td><%= icon_to 'supprimer.png', [@organism, nature], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


