<div class="champ">
  <h3>
    Statistiques par natures
  </h3>
 </div>

    <%= form_tag stats_organism_period_natures_path(@organism, @period),:method =>:get, :class=>"form-search"  do %>
     <label for="destination" class="control-label">Filtre</label>
      <%= select_tag :destination,
        options_for_select([['Toutes destinations', 0]] + @organism.destinations.collect {|d| [d.name, d.id]}, @filter),
      :class=>"input-medium" %>
 
    <%= submit_tag 'Rafraichir', :class=>'btn' %>
 
    <% end %>
      
  


<div class="row-fluid">

  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed data_table" >
    <thead>
      <tr>
        <th class="span2">Nature</th>
        <% @period.list_months('%b %y').each do |my| %>
          <%=  content_tag :th, my  %>
        <% end %>
        <th>Cumul</th>

      </tr>
    </thead>

    <tfoot>
      <tr class="total" id="totaux">
        <th>Total Recettes <br />Total Dépenses<br />Total Différence </th>
        <% @total_recettes.size.times do |index| %>
          <th class="numeric">
            <%=  debit_credit @total_recettes[index] %><br />
            <%=  debit_credit  @total_depenses[index] %><br />
            <%=  debit_credit(@total_recettes[index]+@total_depenses[index])  %></th>
        <% end %>
      </tr>

    </tfoot>

    <tbody>

      <% @recettes.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <% r.stat_with_cumul(@period, @filter).each do |val| %>
            <%=  content_tag :td, debit_credit(val), :class=>'numeric'  %>
          <% end %>
        </tr>
      <% end %>
        
      <% @depenses.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <% r.stat_with_cumul(@period, @filter).each do |val| %>
            <%=  content_tag :td, debit_credit(val), :class=>'numeric'   %>
          <% end %>
        </tr>
      <% end %>


    </tbody>


  </table>

</div>

