<div class="inputs row-fluid" id="new_check_deposit" >

<%= simple_form_for([@cash, @cash_control]) do |f| %>
  <%= f.error_notification %>

   <div class="row-fluid">
      <div class="span12">
        <div class="control-group select required <%= "error" if @cash_control.errors.messages[:date] %> ">
          <div>
          <ul class="span2">
            <li class="list-label"><label class="select required control-label" for="cash_control_pick_date">
              <abbr title="exigé">*</abbr> Date</label></li>
            <% if @cash_control.errors.messages[:date] %>
              <li class="help-inline"><%= @cash_control.errors.messages[:date].first %></li>
            <% end %>
          </ul>
          <%= picker_date 'cash_control[pick_date]', @cash_control.min_date, @cash_control.max_date , @cash_control.pick_date %>
          </div>
        </div>
            </div>
      </div>
 
         <div class="row-fluid">
      <div class="span12">
        <%= f.input :amount,  :jclabel_wrapper_html=>{:class=>'span2'}, :input_html=> { value: two_decimals(@cash_control.amount), class: "numeric span2"} %>
        </div>
      </div>
 

 <div class="form-actions offset2">
    <%= f.button :submit, class: "btn-primary span2" %>
   </div>
<% end %>
</div>
