
<%  SimpleForm.wrapper_tag = :div %>
<%= simple_form_for([@cash, @cash_control]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <div class="input date">

      <label>Le</label>
     <%= picker_date :pick_date_at, @min_date, @max_date , @cash_control.date %>
    </div>

    <%= f.input :amount, input_html: { value: two_decimals(@cash_control.amount), class: "nombre", size: '5'} %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

