<%= content_for :menu do %>

<%= icon_to 'retour.png', 'back' %>
<% end -%>

<div class="champ">
  <h3>
    Modification d'un contrôle de la caisse <%= @cash.name %>
  </h3><div class="inner-champ">
  <p>Solde théorique de la caisse au <%= l @cash_control.date %> : <%= debit_credit @cash.sold(@cash_control.date) %></p>
<%= render 'form' %>
</div></div>
