<%= content_for :menu do %>

<%= icon_to 'retour.png', 'back' %>
<% end -%>

<fieldset>
  <legend>
    Modification d'un contrôle de la caisse <%= @cash.name %>
  </legend>
  <p>Solde théorique de la caisse au <%= l @cash_control.date %> : <%= debit_credit @cash.sold(@cash_control.date) %></p>
<%= render 'form' %>
</fieldset>
