<div class="champ">
  <h3>Liste des contrôles : <%= @cash.name %>
   <ul class="mois">
      <%= submenu_mois(@period, {action:'index', controller:'cash_controls', :cash_id=>@cash.id}, false) %>
    </ul>
  </h3>
  
 <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed data_table pc50" >
    <thead>
      <tr>
        <th>Date</th>
        <th>Montant relevé</th>
        <th>Montant théorique</th>
        <th>Ecart de caisse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cash_controls.each do |cc| %>
      <tr>
        <td><%=l  cc.date %></td>
        <td class="nombre"><%= debit_credit cc.amount %></td>
        <td class="nombre"><%= debit_credit cc.cash_sold %></td>
        <td class="nombre"><%= debit_credit cc.difference %></td>
        <td>
          <%= icon_to 'modifier.png', edit_cash_cash_control_path(@cash,cc), :id=>"icon_modifier_cash_control_#{cc.id}" unless cc.locked? %>
          <%= icon_to 'verrouiller.png', lock_cash_cash_control_path(@cash,cc),
            :confirm=>"Cette action verrouille ce pointage de caisse ainsi que les écritures de caisse correspondantes \n#{cash_difference(cc)}\nConfirmez vous ?" ,
            :method=>:put unless cc.locked? %>
          </td>
       </tr>
      <% end %>
    </tbody>
  </table>
    </div>

