<div class="champ">
  <h3>Liste des contrôles : <%= @cash.name %> </h3><div class="inner-champ">
    <div id="submenu">
        <%= cash_control_submenu_helper(@cash, @period) %>
    </div>
  <table>
    <thead>
      <tr>
        <th>Date</th><th>Montant relevé</th><th>Montant théorique</th><th>Ecart de caisse</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cash_controls.each do |r| %>
      <tr>
        <td><%=l  r.date %></td>
        <td class="nombre"><%= debit_credit r.amount %></td>
        <td class="nombre"><%= debit_credit @cash.sold(r.date) %></td>
        <td class="nombre"><%= debit_credit r.amount- @cash.sold(r.date) %></td>
        <td>
          <%= icon_to 'modifier.png', edit_cash_cash_control_path(@cash,r) unless r.locked? %>
          <%= icon_to 'verrouiller.png', lock_cash_cash_control_path(@cash,r),
            :confirm=>"Cette action verrouille le pointage de caisse ainsi que les écritures de caisse correspondantes \n#{cash_difference(r)}\nConfirmez vous ?" ,
            :method=>:put unless r.locked? %>
          </td>
       </tr>
      <% end %>
    </tbody>
  </table>
</div></div>
