<%= content_for :menu do %>

<%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>
    Enregistrement d'un contrôle de la caisse <%= @cash.name %>

  </h3><div class="inner-champ">
  <% if @cash_control.previous %>
  <p>Dernier contrôle de caisse effectué le <%=l @cash_control.previous.date %> - Montant relevé : <%= two_decimals(@cash_control.previous.amount) %></p>
<% end %>
  <p>Solde théorique de la caisse au <%= l @cash_control.date %> : <%= debit_credit -@cash.sold_at(@cash_control.date) %></p>
<%= render 'form' %>
</div>
</div>