

<div class="inputs" id="form_bank_extract_line" >

  <%=  simple_form_for(@line, :url=>bank_extract_modallines_path(@bank_extract), :method=>:post, :remote=>true,  :html=> {class: 'form-horizontal'}) do |f| %>

    <%= f.error_notification %>
   
      <%= f.association :book, label:'Livre',
        :collection=>@organism.public_books,
        required:true, 
        label_method: lambda {|b| "#{b.class.name == 'IncomeBook' ? 'R' : 'D'} - #{b.title}" },
        include_blank:false, input_html: {class: "span4" } %>

    <%= f.input :pick_date, :label=> 'Date', input_html: { class: "span4", date_min:@period.start_date, date_max:@period.close_date} ,:required => true, :as=>:date_picker %>
    <%= f.input :narration,  :label=>'Libellé ', input_html: {class: "span10" } %>
    <%= f.input :ref, label:'Référence',  input_html: {class: "span4" }  %>
    <%=  f.association :nature , 
              :collection => [Utilities::NaturesCollection.new(@organism, :recettes), Utilities::NaturesCollection.new(@organism, :depenses)],
              :as => :grouped_select, :group_method=>:natures,
              :required=>true, input_html: {class: "span6 " } %>
     <%=  f.association :destination, :collection =>@organism.destinations.all(:order => 'name'), :label=>'Destinat°',
              :prompt => "Pour qui ?" ,   input_html: {class: "span6"} %>
     <%=  f.input :debit ,   input_html: {class: "span3 number", value: two_decimals(@line.debit) }  %>
            <%=  f.input :credit, input_html: {class: "span3 number", value: two_decimals(@line.credit) } %>
            <%= f.input :bank_account,  input_html: {class: "span4"}, :disabled=>true %>
            <%= f.input :payment_mode , collection: Line::PAYMENT_MODES, :prompt=>'Mode de réglement',
                          disabled: 'Espèces',
                          :required=>true,  input_html: {class: "span6"} %>
        
               <%= f.input :check_number, wrapper_html:{id:'td_check_number'}, label:'N° ch.', input_html: {class: "span4" }  %>
           

<div class="form-actions">

   <%=  f.button :submit, id: 'new_line_button', class: "btn-primary span4" %>
</div>
  <% end %>
</div>




              

