.inputs.row-fluid#entry_lines
  =  simple_form_for([@organism, @transfer])  do |f| 
    = f.error_notification
    .row-fluid
      .span12
        .control-group.select.required
          %ul.span1
            %li.list-label
              %label.select.required.control-label{:for=>"pick_date_line"}
                %abbr{:title=>"exigé"}
                  *
                Date
          = picker_date 'transfer[pick_date]', @period.start_date, @period.close_date , @transfer.pick_date
          = f.input :narration,  :label=>'Libellé ', :jclabel_wrapper_html=>{:class=>'span1'}, input_html: {class: "span6" }
          = f.input :amount , :jclabel_wrapper_html=> {class: "span1"}, input_html: {class: "span2", value: two_decimals(@transfer.amount) }, label: 'Montant'
    .row-fluid
      .span12
        = f.input :fill_debitable, :jclabel_wrapper_html=>{class: "span1"}, :label=> 'A débiter', input_html: {class: "span4", size: 8},
                :collection => [['Banques', @organism.bank_accounts.all],['Caisse',@organism.cashes.all]],
                :as => :grouped_select, :group_label_method=> :first, :group_method => :last, 
                :label_method=> :to_s, :value_method=> :to_option
        = f.input :fill_creditable, :jclabel_wrapper_html=>{class: "span1"}, :label=> 'A créditer', input_html: {class: "span4", size: 8},
                :collection => [['Banques', @organism.bank_accounts.all],['Caisse',@organism.cashes.all]],
                :as => :grouped_select, :group_label_method=> :first, :group_method => :last,
                :label_method=> :to_s, :value_method=> :to_option

    .row
      .offset2.span2.clear
        = f.button :submit, id: 'new_line_button', class: "btn-primary span2"
