.inputs.row-fluid#transfer
  = simple_form_for([@organism, @transfer], :html=>{class:'form-inline'})  do |f|
    =f.error_notification
    .row-fluid
      .span12
        = f.input :date_picker,:label=> 'Du', wrapper_html:{class:'span3'}, label_html:{class: 'span4'}, input_html:{class:'span8', date_min:@period.start_date, date_max:@period.close_date, :disabled=>@transfer.partial_locked?}, :required => true, :as=>:date_picker
        = f.input :narration,  :label=>'Libellé ', :wrapper_html=>{:class=>'span6'}, label_html:{class:'span2'}, input_html: {class: "span10" }, :disabled=>@transfer.partial_locked?
        = f.input :amount , :wrapper_html=> {class: "span3"},label_html:{class:'span4'}, input_html: {class: "span8", value: two_decimals(@transfer.amount) },  :disabled=>@transfer.partial_locked?, label: 'Montant'

    .row-fluid
      .span12
        =f.fields_for :compta_lines do |build|
          = render :partial=>'compta_line_fields', :locals=>{:builder=>build}

         

    .row-fluid
      .span12
        .form-actions.offset1
          = f.button :submit, id: 'new_line_button', class: "btn-primary span3"

