.panel-body#transfer
  = simple_form_for(@transfer)  do |f|
    =f.error_notification
    .form-inputs
      .row
        = f.input :date_picker,
          :label=> 'Du',
           wrapper_html:{class:'col-lg-2'},
           input_html:{date_min:@period.start_date, date_max:@period.close_date, :disabled=>@transfer.partial_locked?},
           :required => true, :as=>:date_picker
        = f.input :ref, label:'Réf.',
          :wrapper_html=>{:class=>'col-lg-2'},
          :disabled=>@transfer.partial_locked?
        = f.input :narration,  :label=>'Libellé ',
          :wrapper_html=>{:class=>'col-lg-6'},
          :disabled=>@transfer.partial_locked?
        = f.input :amount,
          :wrapper_html=> {class: "col-lg-2"},
          input_html: {class: "numeric decimal", value: two_decimals(@transfer.amount) },
          :disabled=>@transfer.partial_locked?,
          label: 'Montant', :required => true

      .row
        =f.fields_for :compta_lines do |build|
          = render :partial=>'compta_line_fields', :locals=>{:builder=>build}

      .form-actions
        = f.button :submit, id: 'new_line_button', class: "btn-primary col-lg-2 col-lg-offset-6"
