= content_for :menu do
  = icon_to 'retour.png',:back
  = icon_to 'nouveau.png', new_transfer_path



.champ
  %h3 
    Liste des transferts
    %ul.mois= submenu_mois(@period, {action:'index', controller:'transfers'}, true)
    
  %table.table.table-striped.table-bordered.table-condensed.data_table#transfer-table(cellpadding="0" cellspacing="0" border="0") 
    %thead
      %tr
        %th.date-euro Date
        %th Libellé
        %th.numeric Montant
        %th De
        %th Vers
        %th Actions

    %tbody
      - @transfers.each do |transfer|
        %tr
          %td= l transfer.date
          %td= transfer.narration
          %td.numeric= two_decimals transfer.amount
          %td= transfer.line_from.account.accountable.nickname
          %td= transfer.line_to.account.accountable.nickname

          %td
            = icon_to 'modifier.png', edit_transfer_path(transfer) if transfer.editable?
            = icon_to 'supprimer.png', [transfer], data: {confirm: 'Etes vous sûr ?'} , :method => :delete if transfer.destroyable?



