=# TODO vue sans aucun intérêt : à supprimer
= content_for :menu do
  = icon_to 'retour.png',:back
  = icon_to 'navigation90.png', transfers_path, title:'Vers la liste des Transferts'

.champ
  %h3 Détail du transfert 

  %table.table.table-striped.table-bordered.table-condensed#transfer-table(cellpadding="0" cellspacing="0" border="0") 
    %thead
      %tr
        %th.date-euro Date
        %th Pièce
        %th Libellé
        %th.numeric Montant
        %th De
        %th Vers
        %th Actions
  
    %tbody
      %tr
        %td= l @transfer.date
        %td= @transfer.piece_number
        %td= @transfer.narration
        %td.numeric= number_with_precision(@transfer.amount, :precision=> 2) 
        %td= @transfer.line_from.account.accountable.nickname
        %td= @transfer.line_to.account.accountable.nickname

        %td
          = icon_to 'modifier.png', edit_transfer_path(@transfer) if @transfer.editable?
          = icon_to 'supprimer.png', [@transfer], data: {confirm: 'Etes vous sûr ?'} , :method => :delete if @transfer.destroyable?