%p#notice= notice

%p
  %b Date:
  = @transfer.date
%p
  %b Narration:
  = @transfer.narration
%p
  %b Debited:
  = @transfer.debited_id
%p
  %b Credited:
  = @transfer.credited_id
%p
  %b Amount:
  = @transfer.amount

= link_to 'Edit', edit_transfer_path(@transfer)
\|
= link_to 'Back', transfers_path
