<%= simple_form_for([@organism,@destination]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
   
    <%= f.input :comment, input_html: {rows: 4} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
