
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_organism_destination_path(@organism) %>

<% end %>
<fieldset><legend> Liste des destinations</legend>
<table>
  <tr>
    <th>Nom</th>
    
    <th>Commentaire</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
  
    <td><%= destination.comment %></td>
    <td><%= icon_to 'afficher.png', [@organism,destination] %></td>
    <td><%= icon_to 'modifier.png', edit_organism_destination_path(@organism,destination) %></td>
    <td><%= icon_to 'supprimer.png', [@organism,destination], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


