<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Administration</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %> admin'>
  <div id="header">
     <div id="logo"><%= link_to 'Faites les comptes !', organisms_path %></div>
     <div id="zone_admin"><%= link_to 'Public', organisms_path %></div>
    <div id ="organism">
      <%= link_to @organism.title, @organism unless @organism.nil? %> - <span class="description"><%= @period.exercice unless @period.nil? %></span>
    </div>
  </div>


  <nav id="menu">
    <%= yield :menu %>
  </nav>
 


    <div id="bandeau"  ><%= yield :bandeau %>
      <span id="notice"><%= notice %></span>
      <span id="alert"><%= alert %></span>
    </div>

 
  <%= yield %>
<%= debug params %>
</body>
</html>
