<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Administration</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= "admin_#{controller.controller_name}" %>  admin'>
    <div class="container-fluid">

      <div class="navbar">
        <div class="navbar navbar-inner">
          <div class="container">
            <a class="brand"><%= header_title %></a>
            <%= render 'layouts/upper_menu' %>
          </div>
        </div>
      </div>

        <%= render 'layouts/login_logout' %>

      <div class="row-fluid">

        <div>
          <%= render 'admin/menus/menu'%>
        </div>

          <%= render 'layouts/flash_partial' %>

        <%= yield %>
      </div>
    </div>
  
  </body>
</html>
