<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Administration</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= "admin_#{controller.controller_name}" %>  admin'>
    <div class="container-fluid">

    <%= render 'layouts/navbar' %>

    

      <div class="row-fluid">

        <div>
          <%= render 'admin/menus/menu' if current_user? %>
        </div>

          <%= render 'layouts/flash_partial' %>

        <%= yield %>
      </div>
    </div>
  
  </body>
</html>
