<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Administration</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= "admin_#{controller.controller_name}" %>  admin'>
    <div id="header">
      <div id="logo"><%= link_to 'Faites les comptes !', organisms_path %></div>
      <div id="zone_admin">
        <%= link_to 'Public',  ((@organism && !@organism.new_record?) ? organism_path(@organism) : organisms_path )  %>
        <%= link_to 'Compta',  ((@organism  && @organism.persisted?) ? compta_organism_path(@organism) : compta_organisms_path )  %>
      </div>
     <%= header_organism %>
    </div>


  <nav id="menu">
    <%= render 'admin/organisms/menu'%>
    <%= yield :menu %>
  </nav>

  <div id="bandeau"  ><%= yield :bandeau %>
    <span id="notice"><%= notice %></span>
    <span id="alert"><%=simple_format alert %></span>
  </div>


  <%= yield %>
<%= debug params if Rails.env == 'development' %>
</body>
</html>
