<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes ! Administration</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= "admin_#{controller.controller_name}"  %>  admin' >
    
     
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div id="top_navigation">
          <%= render 'layouts/navbar' %>
        </div>
      <div id="main_nav">
          <%= render 'admin/menus/menu' if user_signed_in? %>
      </div>
    </nav>
     
    <div class="container-fluid">
      <div id="main-zone">
        <div id="flashpartial"><%= render 'layouts/flash_partial' %></div>
        <div id="message"></div><%# pour les messages utilisés par produce_pdf.js_erb%> 
        <%= yield %>

      </div>
    </div>
    <%= render 'layouts/bottom_page' %>
  </body>
</html>
