<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_admin_organism_cash_path(@organism) %>
<% end -%>

<fieldset><legend>Liste des caisses</legend>
<table>
  <tr>

   

    <th>Nom</th>

    <th></th>
    <th></th>
 
  </tr>

<% @cashes.each do |cash| %>
  <tr>

  

    <td><%= cash.name %></td>

    
    <td><%= icon_to 'modifier.png', edit_admin_organism_cash_path(@organism,cash) %></td>
    <td><%= icon_to 'supprimer.png', [:admin,@organism,cash], :confirm => 'Etes vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</fieldset>


