
<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_admin_organism_cash_path(@organism) %>
<%= icon_to 'modifier.png', edit_admin_organism_cash_path(@organism,@cash) %>
<%= icon_to 'retour.png', :back %>
<% end -%>
<fieldset><legend>Description de la caisse </legend>

<p>
  <b>Nom : </b>
  <%= @cash.name %>
</p>


</fieldset>

