<%= content_for :menu do %>

<%= icon_to 'nouveau.png', new_user_path %>
<%= icon_to 'afficher.png', @user %>
<%= icon_to 'retour.png', :back %>
<% end -%>

<div class="champ">
  <h3>
    Modification <%= t 'user' %>
  </h3><div class="inner-champ">

<%= render 'form' %>
</div></div>



