<%= content_for :menu do %>
<%= icon_to 'nouveau.png', new_user_path %>
<% end -%>

<div class="champ">
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= icon_to 'afficher.png', user %></td>
    <td><%= icon_to 'modifier.png', edit_user_path(user) %></td>
    <td><%= icon_to 'supprimer.png', user, data: {confirm: 'Etes vous sûr ?'} , :method => :delete %></td>
  </tr>
<% end %>
</table>

</div></div>


