= content_for :menu do
  = icon_to 'nouveau.png', new_admin_organism_subscription_path(@organism)

.champ
  %h3 Liste des écritures périodiques

%table.table.table-striped.table-bordered.table-condensed(cellpadding="0" cellspacing="0" border="0")
  %thead
    %tr
      %th Titre
      %th Guide de saisie
      %th Jour du mois 
      %th Dernière échéance
      %th Actions
  %tbody
    - @subs.each do |sub|
      %tr
        %td= sub.title
        %td= sub.mask.title
        %td= sub.day
        %td= date_de_fin(sub)
        %td
          = icon_to 'modifier.png', edit_admin_organism_subscription_path(@organism, sub)
          = icon_to 'supprimer.png', [:admin, @organism, sub], data: {confirm: 'Etes vous sûr ?'} , :method => :delete
          

