= content_for :menu do
  = icon_to  'retour.png', :back

.champ
  %h3 Cloner une base de données : ajouter un commentaire
  .inner-champ
    .panel-body
      = simple_form_for @new_clone , :url=>admin_clones_path, 
        :html=> {class: 'form-horizontal'}, wrapper: :horizontal_form  do |f|
        .form-inputs
          = f.input :comment ,  my_wrapper_html: {class: "col-lg-3"} 
        .form-actions= f.button :submit, 'Cloner la base', id: 'clone_button', class: "btn-primary col-lg-offset-4"
