#login_logout
  - if user_signed_in?
    Connecté en tant que
    %span
      = link_to " #{current_user.name}", edit_registration_path(:user), title:'Modifier vos données personnelles'
    &nbsp;-&nbsp;
    = icon_to 'door-open.png', main_app.destroy_user_session_path, :method=>:delete, title:'Déconnexion', :tabindex=>-1
  - else
    -if controller_name != 'registrations' && action_name != 'bye'
      Créer un compte
      = icon_to 'door.png', new_registration_path(resource_name), title:"S'enregistrer comme nouvel utilisateur"
    - if (controller_name == 'registrations' && (action_name == 'new' || action_name == 'create')) || action_name == 'bye'
      Se connecter
      = icon_to 'door.png', new_session_path(resource_name), title:"Se connecter à partir d'un compte existant"
