<!DOCTYPE html>
<html>
  <head>
    <title><%= header_title %></title>
    <%= stylesheet_link_tag    "application" %>
 
   <%= javascript_include_tag "application" %>
      
    <%= csrf_meta_tags %>
  </head>
  <body class="container-fluid <%= 'public_'+controller.controller_name %>">
   <%# content_tag(:div, :id=>"grid") %>
        
   
  <div class="row-fluid" id="header">
      <div class="span4" id="logo"><%= link_to 'Faites les comptes !', organisms_path %></div>
      <%# header_organism %>
     <div class="span4" id="zone_admin"><%= link_to 'Administration', ((@organism && !@organism.new_record?) ? admin_organism_path(@organism) : admin_organisms_path ) %>
      <%= link_to 'Compta', ((@organism && !@organism.new_record?) ? compta_organism_path(@organism) : compta_organisms_path ) %></div>
        </div>

  <div class="navbar" id="menu">
    <a class="brand">Faites les comptes !</a>
    <div class="navbar-inner">
    <div class="container" >
    <%= render 'organisms/menu' %>
    <%= yield :menu %>
    </div>
  </div>
  </div>

 


    <div id="bandeau"  ><%= yield :bandeau %>
      <span id="notice"><%= notice %></span>
      <span id="alert"><%= alert %></span>
    </div>

 
  <%= yield %>
<%= debug params if Rails.env == 'development' %>
</body>
</html>
