<!DOCTYPE html>
<html>
  <head>
    <title>Faites les comptes !</title>

    

    <noscript>
    <meta http-equiv="refresh" content="1;url=/no_javascript.html" />
    </noscript>
<!-- Latest compiled and minified CSS -->

<%= stylesheet_link_tag    "application" %>

<%= javascript_include_tag "application" %>

 

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= 'public_'+controller.controller_name %>" >

    <nav class="navbar navbar-fixed-top" role="navigation">
      <div id="top_navigation">
          <%= render 'layouts/navbar' %>
        </div>
      <%  if user_signed_in? && controller_name != 'registrations' %>
        <div id="main_nav">
            <%= render 'menus/menu'  %>
        </div>
      <% end %>
      
    </nav>
    
    <div> 
      <%=  yield :modal %>
    </div>
    
    <div class="container-fluid" >

      <div id="main-zone">
          <div id="flashpartial"><%= render 'layouts/flash_partial' %></div>  
          <div id="message"> </div><%# pour les messages utilisés par produce_pdf.js_erb%> 
          <%= yield %>
          
        </div>
      

      <div class ="push"></div>
    </div>
    <%= render 'layouts/bottom_page' if user_signed_in? %>





  </body>
</html>
